/*
 * Copyright Truesense AI Solutions Pvt Ltd, All Rights Reserved.
 */
.status-bar {
	background: #131313;
	color: #e2e2e2;
	padding: 4px 10px;
	font-size: 13px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

@keyframes highlight {
	0% {
		background-color: initial;
	}

	50% {
		background-color: orange;
	}

	100% {
		background-color: initial;
	}
}

.highlight {
	animation-name: highlight;
	animation-duration: 1s;
}
