<div *ngIf="fileHeader"
	class="inspector-form-container">

	<mat-form-field>
		<input [(ngModel)]="fileHeader.revMajor"
			matInput
			placeholder="revMajor">
	</mat-form-field>

	<mat-form-field>
		<input [(ngModel)]="fileHeader.revMinor"
			matInput
			placeholder="revMinor">
	</mat-form-field>

	<mat-form-field>
		<input [(ngModel)]="fileHeader.date"
			matInput
			placeholder="date">
	</mat-form-field>

	<mat-form-field>
		<input [(ngModel)]="fileHeader.description"
			matInput
			placeholder="description">
	</mat-form-field>

	<mat-form-field>
		<input [(ngModel)]="fileHeader.author"
			matInput
			placeholder="author">
	</mat-form-field>

</div>
