<!--
  ~ Copyright Truesense AI Solutions Pvt Ltd, All Rights Reserved.
  -->

<div *ngIf="data" class="inspector-form-container">

	<app-string-field *ngIf="data.incomingRoad" [value]="data.incomingRoad.id"
					  label="Incomging Road"></app-string-field>

	<app-string-field *ngIf="data.connectingRoad" [value]="data.connectingRoad.id"
					  label="Connecting Road"></app-string-field>

	<!-- <app-double-field disabled label="Length (Meters)" [value]="road.length"></app-double-field> -->

	<button (click)="onDelete()" mat-stroked-button>Delete Connection!</button>

</div>
