<!--
  ~ Copyright Truesense AI Solutions Pvt Ltd, All Rights Reserved.
  -->

<div *ngIf="data" class="inspector-form-container">

    <app-string-field *ngIf="data.incomingRoad" label="Incomging Road" [value]="data.incomingRoad.id"></app-string-field>

    <app-string-field *ngIf="data.connectingRoad" label="Connecting Road" [value]="data.connectingRoad.id"></app-string-field>
    
    <!-- <app-double-field disabled label="Length (Meters)" [value]="road.length"></app-double-field> -->

    <button mat-stroked-button (click)="onDelete()">Delete Connection!</button>

</div>