<!--
  ~ Copyright Truesense AI Solutions Pvt Ltd, All Rights Reserved.
  -->

<!--<h2 mat-dialog-title>Road Editor</h2>-->

<div mat-dialog-content>

	<h5 (click)="createNew()"
		style="cursor: pointer;">Create New Road</h5>

	<h5>Or</h5>

	<h5 (click)="openFromComputer()"
		*ngIf="isElectronApp">Open From Computer</h5>

	<div *ngIf="!isElectronApp">
		<h5>Open From Computer</h5>
		<input (change)=fileChange($event)
			   type="file"/>
	</div>

	<br/>

	<mat-divider></mat-divider>

	<mat-list>
		<div mat-subheader>Recent Files</div>
		<mat-list-item (click)="openFile(file)"
					   *ngFor="let file of recentFiles">
			<mat-icon mat-list-icon>folder</mat-icon>
			<div mat-line>{{file.path}}</div>
			<div mat-line> {{file.type}} </div>
		</mat-list-item>
	</mat-list>

</div>
