<app-enum-field [enum]="rules" [value]="condition.triggeringRule" label="Trigger"></app-enum-field>

<app-dropdown-field (changed)="onEntityChanged($event)" [value]="entity" [options]="entities"
					label="Entities"></app-dropdown-field>

<div [ngSwitch]="condition.conditionType">

	<div *ngSwitchCase="conditions.ByEntity_Distance">
		<app-distance-condition [condition]="condition"></app-distance-condition>
	</div>

	<div *ngSwitchCase="conditions.ByEntity_ReachPosition">
		<app-reach-position-condition [condition]="condition"></app-reach-position-condition>
	</div>

	<div *ngSwitchCase="conditions.ByEntity_TimeHeadway">
		<app-time-headway-condition-editor [condition]="condition"></app-time-headway-condition-editor>
	</div>

	<div *ngSwitchCase="conditions.ByEntity_StandStill">
		<app-stand-still-condition-editor [condition]="condition"></app-stand-still-condition-editor>
	</div>

	<div *ngSwitchCase="conditions.ByEntity_TraveledDistance">
		<app-traveled-distance-condition-editor [condition]="condition"></app-traveled-distance-condition-editor>
	</div>

	<div *ngSwitchCase="conditions.ByEntity_Speed">
		<app-speed-condition-editor [condition]="condition"></app-speed-condition-editor>
	</div>

	<div *ngSwitchCase="conditions.ByEntity_Offroad">
		<app-off-road-condition-editor [condition]="condition"></app-off-road-condition-editor>
	</div>

</div>

