<h1 class="mat-tv-dialog-title" mat-dialog-title>Import FBX</h1>
<div class="mat-tv-dialog-content" mat-dialog-content *ngIf="object">

	<app-double-field min="0.1" max="1000" label="Scale" (changed)="onScaleChanged($event)" [value]="scale"></app-double-field>

	<app-object-preview [object]="object" objectType="model"></app-object-preview>

</div>
<div class="mat-tv-dialog-actions" mat-dialog-actions>
	<button mat-stroked-button (click)="import()">Import</button>
	<button mat-dialog-close mat-stroked-button>Close</button>
</div>
