<!--
  ~ Copyright Truesense AI Solutions Pvt Ltd, All Rights Reserved.
  -->

<div *ngIf="lane" class="inspector-form-container">

	<app-string-field [value]="lane.roadId" [disabled]="true" label="Road ID"></app-string-field>
	<app-string-field [value]="lane.id" [disabled]="true" label="Lane ID"></app-string-field>

	<app-boolean-field [value]="lane.level" label="Level" (changed)="onLevelChanged($event)"></app-boolean-field>

	<app-enum-field [enum]="directions" [value]="lane.travelDirection" (changed)="onTravelDirectionChanged($event)" label="Travel Direction"></app-enum-field>

	<app-enum-field [enum]="types" [value]="lane.type" (changed)="onTypeChanged($event)" label="Type"></app-enum-field>

	<button (click)="duplicateLane()" mat-stroked-button fxFill>Duplicate Lane</button>

	<button (click)="deleteLane()" mat-stroked-button fxFill>Delete Lane</button>

</div>
