<!--
  ~ Copyright Truesense AI Solutions Pvt Ltd, All Rights Reserved.
  -->

<div *ngIf="lane"
	 class="inspector-form-container">

	<app-string-field [disabled]="true"
					  [value]="lane.roadId"
					  label="Road ID"></app-string-field>

	<app-string-field [disabled]="true"
					  [value]="lane.id"
					  label="Lane ID"></app-string-field>

	<app-boolean-field (changed)="onLevelChanged($event)"
					   [value]="lane.level"
					   label="Level"></app-boolean-field>

	<app-enum-field (changed)="onTravelDirectionChanged($event)"
					[enum]="directions"
					[value]="lane.travelDirection"
					label="Travel Direction"></app-enum-field>

	<app-enum-field (changed)="onTypeChanged($event)"
					[enum]="types"
					[value]="lane.type"
					label="Type"></app-enum-field>

	<button (click)="duplicateLane()"
			fxFill
			mat-stroked-button>Duplicate Lane
	</button>

	<button (click)="deleteLane()"
			fxFill
			mat-stroked-button>Delete Lane
	</button>

</div>
