<div class="object-inspector-container"
	fxFlexFill
	fxLayout="column">
	<mat-toolbar class="native-border inspector-toolbar">
		<button class="inspector-toolbar-icon"
			(click)="toggleProperties()"
			mat-icon-button>
			<mat-icon *ngIf="!showProperties">chevron_right</mat-icon>
			<mat-icon *ngIf="showProperties">expand_more</mat-icon>
		</button>
		<span>Heirarchy</span>
	</mat-toolbar>

	<perfect-scrollbar>
		<mat-tree [dataSource]="dataSource"
			[treeControl]="treeControl">
			<mat-tree-node *matTreeNodeDef="let node;when: hasChild"
				(click)="onNodeClicked(node)"
				matTreeNodePadding
				matTreeNodePaddingIndent="8">
				<button mat-icon-button
					matTreeNodeToggle>
					<mat-icon *ngIf="node.expandable"
						class="mat-icon-rtl-mirror">
						{{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
					</mat-icon>
				</button>
				{{node.name || 'No name'}}
			</mat-tree-node>
		</mat-tree>
	</perfect-scrollbar>
</div>
