<!--
  ~ Copyright Truesense AI Solutions Pvt Ltd, All Rights Reserved.
  -->

<app-transform-inspector [data]="data.mesh"></app-transform-inspector>

<!-- <app-material-inspector [data]="data.mesh.material"></app-material-inspector> -->

<div class="inspector-form-container">

	<mat-form-field>
		<input [(ngModel)]="data.attr_id"
			disabled
			matInput
			placeholder="ID">
	</mat-form-field>

	<!-- <mat-form-field> -->
	<!-- <input matInput placeholder="Road-ID" disabled [(ngModel)]="data.road_id"> -->
	<!-- </mat-form-field> -->

	<mat-form-field>
		<input [(ngModel)]="data.attr_name"
			matInput
			placeholder="Name">
	</mat-form-field>

	<button (click)="onDelete()"
		mat-button>Delete!</button>

</div>
