<!--
  ~ Copyright Truesense AI Solutions Pvt Ltd, All Rights Reserved.
  -->

<!-- <mat-form-field> -->
<!-- <input matInput type="string" [placeholder]="label" [(ngModel)]="value" (ngModelChange)="onModelChanged($event)"> -->
<!-- </mat-form-field> -->

<div align="left" class="tv-field">
	<label class="tv-field-label">{{ label }}</label>
	<div class="tv-field-text-input">
		<input (ngModelChange)="onModelChanged($event)" [(ngModel)]="value" [disabled]="disabled" [placeholder]="label" [value]="value" type="text" />
	</div>
</div>
