:host {
  display: block; /* or 'display: flex;' depending on your needs */
  width: 100%;
  height: 100%;
}

#viewport {
  display: block; /* or 'display: flex;' depending on your needs */
  width: 100%;
  height: 100%;
}