<!--
  ~ Copyright Truesense AI Solutions Pvt Ltd, All Rights Reserved.
  -->
<mat-toolbar class="app-toolbar">
	<ng-container *ngFor="let tool of tools">
		<button mat-button #toolButton (mouseover)="onMouseOver(tool)" [id]="tool.id" (click)="tool.click()" [ngClass]="getClass(tool)" [satPopoverAnchor]="popover" [satPopoverHover]="100" action="{{tool.action}}"
				appTrack="{{tool.track}}" matTooltip="{{tool.tooltip}}">
			<mat-icon class="tool-button-icon">{{tool.icon}}</mat-icon>
			<span class="icon-label">{{tool.label}}</span>
		</button>
	</ng-container>
	<sat-popover #popover verticalAlign="below">
		<div class="simple-popover" *ngIf="selectedTool">
			<div class="title" [innerHTML]="selectedTool.title | translate"></div>
			<div [innerHTML]="selectedTool.description | translate"></div>
		</div>
	</sat-popover>
</mat-toolbar>
