.icon-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.icon-label {
	display: block;
	font-size: 0.65rem;
	margin-top: -12px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.tool-button-icon {
	height: 16px !important;
}

.toolbar-button {
	width: 72px !important;
	padding: 0px 8px !important;
}

.border-right {
	border-right: 1px solid #2c2c2c !important;
}
