.map-hierarchy {
	height: 100%;

	&__toolbar-spacer {
		flex: 1 1 auto;
	}

	&__tree {
		// padding: 0 0.5rem 0.5rem;
	}

	&__node {
		display: flex;
		align-items: center;
		gap: 0.25rem;
		cursor: pointer;
		border-radius: 4px;
		padding: 0.15rem 0.25rem;

		&--selected {
			background: rgba( 255, 255, 255, 0.08 );
		}

		button[mat-icon-button] {
			margin-right: 0.1rem;
		}
	}

	&__type-icon {
		font-size: 16px;
	}

	&__label {
		flex: 1 1 auto;
		font-size: 12px;
	}
}


.mat-tree-node {
	min-height: 36px;
}

.mat-tree-node,
.mat-nested-tree-node {
	font-weight: 400;
	font-size: 0.7rem !important;
}
