/*
 * Copyright Truesense AI Solutions Pvt Ltd, All Rights Reserved.
 */

.texture-card {
	padding: 8px;
}

.texture-card-thumbnail {
	float: left;
	margin-right: 8px;
	height: 18px !important;
	width: 18px !important;
}

.texture-card .mat-card-subtitle {
	font-size: 10px;
}

.btn-remove {
	float: right;
	position: absolute;
	right: 6px;
	top: 0;
}
