/*
 * Copyright Truesense AI Solutions Pvt Ltd, All Rights Reserved.
 */

.texture-card {
	padding: 0.5rem 0;
    margin: 0.5rem 0;
}

.texture-card-thumbnail {
	float: left;
	margin-right: 12px;
	height: 28px !important;
	width: 28px !important;
}

.texture-card .mat-card-title {
	font-size: 0.8em !important;
}

.texture-card .mat-card-subtitle {
	font-size: 0.7em !important;
}

.btn-remove {
	float: right;
	position: absolute;
	right: 6px;
	top: 0;
}
