/*
 * Copyright Truesense AI Solutions Pvt Ltd, All Rights Reserved.
 */

.texture-card {
	padding: 8px;
}

.texture-card-thumbnail {
	float: left;
	margin-right: 8px;
	height: 24px !important;
	width: 24px !important;
}
