<mat-toolbar *ngIf="showToolbar"
	class="native-border inspector-toolbar">
	<button class="inspector-toolbar-icon"
		(click)="toggleProperties()"
		mat-icon-button>
		<mat-icon *ngIf="!showProperties">chevron_right</mat-icon>
		<mat-icon *ngIf="showProperties">expand_more</mat-icon>
	</button>
	<span>{{label}}</span>
</mat-toolbar>


<div *ngIf="data && showProperties"
	[class.inspector-editor-padding]="showToolbar">
	<div *ngFor="let item of serializableFields">
		<ng-container app-field-host></ng-container>
	</div>
	<div *ngFor="let action of serializableActions">
		<app-button-field *ngIf="action.validate.apply(data)" (clicked)="action.method.apply(data)"
			label="{{ action.label | titlecase }}">
		</app-button-field>
	</div>
</div>
