<!-- <mat-form-field class="example-full-width">
    <input matInput placeholder="Distance Value" [(ngModel)]="condition.value">
</mat-form-field>

<mat-form-field class="example-full-width">
    <input matInput placeholder="Freespace" [(ngModel)]="condition.freespace">
</mat-form-field>

<mat-form-field class="example-full-width">
    <input matInput placeholder="Along route" [(ngModel)]="condition.alongRoute">
</mat-form-field> -->

<div>
	<mat-form-field style="width: 50%;">
		<input [(ngModel)]="condition.value" matInput placeholder="Distance">
	</mat-form-field>
	<mat-form-field style="width: 50%;">
		<input [(ngModel)]="condition.rule" matInput placeholder="Rule">
	</mat-form-field>
</div>

<div>
	<mat-form-field style="width: 50%;">
		<input [(ngModel)]="condition.freespace" matInput placeholder="Freespace">
	</mat-form-field>
	<mat-form-field style="width: 50%;">
		<input [(ngModel)]="condition.alongRoute" matInput placeholder="AlongRoute">
	</mat-form-field>
</div>

<!-- rule from  -->

<app-position-editor (positionChanged)="onPositionChanged($event)" [position]="condition.position">
</app-position-editor>
