<div class="inspector-form-container" *ngIf="entity">

	<mat-form-field class="example-full-width">
		<input matInput placeholder="Name" [(ngModel)]="entity.name">
	</mat-form-field>

	<button mat-stroked-button (click)="editAct()">Edit Act</button>
	<button mat-stroked-button (click)="editStory()">Edit Story</button>
	<button mat-stroked-button (click)="editActions()">Edit Actions</button>

	<div *ngFor="let action of initActions">
		<h5>{{ action.actionName }}</h5>
		<app-action-editor [action]="action" [entity]="entity"></app-action-editor>
	</div>

</div>
