<div *ngIf="entity" class="inspector-form-container">

	<mat-form-field class="example-full-width">
		<input [(ngModel)]="entity.name" matInput placeholder="Name">
	</mat-form-field>

	<button (click)="editAct()" mat-stroked-button>Edit Act</button>
	<button (click)="editStory()" mat-stroked-button>Edit Story</button>
	<button (click)="editActions()" mat-stroked-button>Edit Actions</button>

	<div *ngFor="let action of initActions">
		<h5>{{ action.actionName }}</h5>
		<app-action-editor [action]="action" [entity]="entity"></app-action-editor>
	</div>

</div>
