<div *ngIf="entity" class="inspector-form-container">

	<app-string-field [value]="entity.name" label="Name"></app-string-field>

	<mat-accordion>
		<mat-expansion-panel *ngFor="let action of initActions">
			<mat-expansion-panel-header>
				<mat-panel-title>
					{{action.actionType}}
				</mat-panel-title>
				<mat-panel-description>
					{{action.actionName}}
				</mat-panel-description>
			</mat-expansion-panel-header>
			<app-action-editor [action]="action" [entity]="entity"></app-action-editor>
		</mat-expansion-panel>
	</mat-accordion>

	<br/>

<!--	<mat-accordion>-->
<!--		&lt;!&ndash; show start conditions &ndash;&gt;-->
<!--		<mat-expansion-panel *ngFor="let action of scenarioActions">-->
<!--			<mat-expansion-panel-header>-->
<!--				<mat-panel-title>-->
<!--					{{action.actionType}}-->
<!--					&lt;!&ndash; <mat-icon>account_circle</mat-icon> &ndash;&gt;-->
<!--				</mat-panel-title>-->
<!--				<mat-panel-description>-->
<!--					{{action.actionName}}-->
<!--				</mat-panel-description>-->
<!--			</mat-expansion-panel-header>-->
<!--			<app-action-editor [action]="action" [entity]="entity"></app-action-editor>-->
<!--		</mat-expansion-panel>-->
<!--		&lt;!&ndash; show end conditions &ndash;&gt;-->
<!--	</mat-accordion>-->

	<div *ngFor="let event of scenarioEvents">
		<mat-form-field class="example-full-width">
			<mat-label>Add Start Condition</mat-label>
			<mat-select #addCondition (valueChange)="onAddCondition($event,event)">
				<mat-option [value]="conditionType.ByValue_SimulationTime">SimulationTime</mat-option>
				<mat-option [value]="conditionType.ByEntity_Distance">Distance</mat-option>
			</mat-select>
		</mat-form-field>
		<mat-accordion>
			<mat-expansion-panel *ngFor="let condition of event.startConditions">
				<mat-expansion-panel-header>
					<mat-panel-title>
						Type
					</mat-panel-title>
					<mat-panel-description>
						Condition
					</mat-panel-description>
				</mat-expansion-panel-header>
				<app-condition-editor (removed)="onRemoveCondition($event,event)" [condition]="condition"></app-condition-editor>
			</mat-expansion-panel>
		</mat-accordion>
		<mat-accordion>
			<mat-expansion-panel *ngFor="let action of event.getActions()">
				<mat-expansion-panel-header>
					<mat-panel-title>
						{{action.actionType}}
					</mat-panel-title>
					<mat-panel-description>
						{{action['actionName']}}
					</mat-panel-description>
				</mat-expansion-panel-header>
				<app-action-editor (removed)="onRemoveAction(action,event)" [action]="action" [entity]="entity"></app-action-editor>
			</mat-expansion-panel>
		</mat-accordion>
	</div>

	<br/>

	<mat-form-field class="example-full-width">
		<mat-label>Add Action</mat-label>
		<mat-select #addAction (valueChange)="onAddAction($event)">
			<mat-option [value]="actionType.Private_Longitudinal_Speed">ChangeSpeed</mat-option>
			<mat-option [value]="actionType.Private_Lateral">ChangeLane</mat-option>
		</mat-select>
	</mat-form-field>

</div>
