<app-double-field (changed)="onDistanceChanged($event)"
	[value]="distanceCondition.value"
	label="Distance"></app-double-field>

<app-enum-field (changed)="onRuleChanged($event)"
	[enum]="rules"
	[value]="distanceCondition.rule"
	label="Rule"></app-enum-field>

<app-boolean-field [value]="distanceCondition.freespace"
	label="Freespace"></app-boolean-field>

<app-boolean-field [value]="distanceCondition.alongRoute"
	label="Along route"></app-boolean-field>

<app-position-editor (positionChanged)="onPositionChanged($event)"
	[position]="distanceCondition.position">
</app-position-editor>
