<!--
  ~ Copyright Truesense AI Solutions Pvt Ltd, All Rights Reserved.
  -->

<div class="sidenav-hold">
    <div *ngIf="hasIconTypeMenuItem" class="icon-menu">
        <!-- Icon menu separator -->
        <div class="mt-1 mb-1 nav-item-sep">
            <mat-divider [ngStyle]="{margin: '0 -24px'}"></mat-divider>
            <span class="text-muted icon-menu-title">{{iconTypeMenuTitle}}</span>
        </div>
        <!-- Icon menu items -->
        <div *ngFor="let item of menuItems" class="icon-menu-item">
            <button *ngIf="!item.disabled && item.type === 'icon'" [matTooltip]="item.tooltip" mat-raised-button routerLink="/{{item.state}}" routerLinkActive="mat-bg-primary">
                <mat-icon>{{item.icon}}</mat-icon>
            </button>
        </div>
    </div>

    <ul appDropdown class="sidenav">
        <li *ngFor="let item of menuItems" appDropdownLink routerLinkActive="open">
            <div *ngIf="item.type === 'separator'" class="nav-item-sep">
                <mat-divider></mat-divider>
                <span class="text-muted">{{item.name}}</span>
            </div>
            <div *ngIf="!item.disabled && item.type !== 'separator' && item.type !== 'icon'" class="lvl1">
                <a *ngIf="item.type === 'link'" appDropdownToggle matRipple routerLink="/{{item.state}}">
                    <mat-icon>{{item.icon}}</mat-icon>
                    <span class="item-name lvl1">{{item.name}}</span>
                    <span fxFlex></span>
                    <span *ngFor="let badge of item.badges" [ngStyle]="{background: badge.color}" class="menuitem-badge mat-bg-{{ badge.color }}">{{ badge.value }}</span>
                </a>
                <a *ngIf="item.type === 'extLink'" [href]="item.state" appDropdownToggle matRipple target="_blank">
                    <mat-icon>{{item.icon}}</mat-icon>
                    <span class="item-name lvl1">{{item.name}}</span>
                    <span fxFlex></span>
                    <span *ngFor="let badge of item.badges" [ngStyle]="{background: badge.color}" class="menuitem-badge mat-bg-{{ badge.color }}">{{ badge.value }}</span>
                </a>

                <!-- DropDown -->
                <a *ngIf="item.type === 'dropDown'" appDropdownToggle matRipple>
                    <mat-icon>{{item.icon}}</mat-icon>
                    <span class="item-name lvl1">{{item.name }}</span>
                    <span fxFlex></span>
                    <span *ngFor="let badge of item.badges" [ngStyle]="{background: badge.color}" class="menuitem-badge mat-bg-{{ badge.color }}">{{ badge.value }}</span>
                    <mat-icon class="menu-caret">keyboard_arrow_right</mat-icon>
                </a>
                <!-- LEVEL 2 -->
                <ul *ngIf="item.type === 'dropDown'" appDropdown class="submenu lvl2">
                    <li *ngFor="let itemLvL2 of item.sub" appDropdownLink routerLinkActive="open">

                        <a *ngIf="itemLvL2.type !== 'dropDown'" appDropdownToggle matRipple routerLink="{{item.state ? '/'+item.state : ''}}/{{itemLvL2.state}}">
                            <span class="item-name lvl2">{{itemLvL2.name }}</span>
                            <span fxFlex></span>
                        </a>

                        <a *ngIf="itemLvL2.type === 'dropDown'" appDropdownToggle matRipple>
                            <span class="item-name lvl2">{{itemLvL2.name}}</span>
                            <span fxFlex></span>
                            <mat-icon class="menu-caret">keyboard_arrow_right</mat-icon>
                        </a>

                        <!-- LEVEL 3 -->
                        <ul *ngIf="itemLvL2.type === 'dropDown'" appDropdown class="submenu lvl3">
                            <li *ngFor="let itemLvL3 of itemLvL2.sub" appDropdownLink routerLinkActive="open">
                                <a appDropdownToggle matRipple routerLink="{{item.state ? '/'+item.state : ''}}{{itemLvL2.state ? '/'+itemLvL2.state : ''}}/{{itemLvL3.state}}">
                                    <span class="item-name lvl3">{{itemLvL3.name}}</span>
                                </a>
                            </li>
                        </ul>

                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>