<!--
  ~ Copyright Truesense AI Solutions Pvt Ltd, All Rights Reserved.
  -->

<div *ngIf="texture" class="inspector-form-container">

	<mat-form-field>
		<input [(ngModel)]="texture.name" disabled disabled matInput placeholder="Texture" type="string">
	</mat-form-field>

	<mat-form-field>
		<input (change)="onChange($event)" [(ngModel)]="texture.wrapS" disabled matInput placeholder="wrapS" type="number">
	</mat-form-field>

	<mat-form-field>
		<input (change)="onChange($event)" [(ngModel)]="texture.wrapT" disabled matInput placeholder="wrapS" type="number">
	</mat-form-field>

	<mat-form-field>
		<input (change)="onChange($event)" [(ngModel)]="texture.anisotropy" disabled matInput placeholder="anisotropy" type="number">
	</mat-form-field>

	<mat-form-field>
		<input (change)="onChange($event)" [(ngModel)]="texture.offset.x" disabled matInput placeholder="Offset X" type="number">
	</mat-form-field>

	<mat-form-field>
		<input (change)="onChange($event)" [(ngModel)]="texture.offset.y" disabled matInput placeholder="Offset Y" type="number">
	</mat-form-field>

</div>

<div *ngIf="texture" class="inspector-form-container">

	<img src="{{metadata.path}}" />

</div>
