<mat-toolbar class="native-border inspector-toolbar">
	<button (click)="toggle($event)"
		class="inspector-toolbar-icon"
		mat-icon-button>
		<mat-icon *ngIf="!isOpen">chevron_right</mat-icon>
		<mat-icon *ngIf="isOpen">expand_more</mat-icon>
	</button>
	<span>{{action.label}}</span>
	<span class="spacer"></span>
	<button [matMenuTriggerFor]="menu"
		class="inspector-toolbar-icon"
		mat-icon-button>
		<mat-icon>more_vert</mat-icon>
	</button>
	<mat-menu #menu="matMenu">
		<button (click)="deleteAction($event)"
			mat-menu-item>
			<mat-icon>delete</mat-icon>
			<span>Delete Action</span>
		</button>
	</mat-menu>
</mat-toolbar>
<div *ngIf="isOpen"
	[ngSwitch]="action.actionType"
	style="padding: 4px 8px">

	<div *ngSwitchCase="types.Private_LaneChange">
		<app-lane-change [action]="privateAction"></app-lane-change>
	</div>

	<div *ngSwitchCase="types.Private_LaneOffset">
		<app-lane-offset-action [action]="privateAction"></app-lane-offset-action>
	</div>

	<div *ngSwitchCase="types.Private_Longitudinal_Speed">
		<app-speed-action [action]="privateAction"></app-speed-action>
	</div>

	<div *ngSwitchCase="types.Private_Longitudinal_Distance">
		<app-longitudinal-distance-action [action]="privateAction"></app-longitudinal-distance-action>
	</div>

	<div *ngSwitchCase="types.Private_Routing_FollowTrajectory">
		<app-follow-trajectory [action]="privateAction"></app-follow-trajectory>
	</div>

	<div *ngSwitchCase="types.Private_Position">
		<app-position-action [action]="privateAction"
			[entity]="entity"></app-position-action>
	</div>

</div>
