<div [ngSwitch]="action.actionType">

	<div *ngSwitchCase="types.Private_LaneChange">
		 <app-lane-change [action]="privateAction"></app-lane-change>
	</div>

	<div *ngSwitchCase="types.Private_LaneOffset">
		<app-lane-offset-action [action]="privateAction"></app-lane-offset-action>
	</div>

	<div *ngSwitchCase="types.Private_Longitudinal_Speed">
		 <app-speed-action [action]="privateAction"></app-speed-action>
	</div>

	<div *ngSwitchCase="types.Private_Longitudinal_Distance">
		Distance Action
	</div>

	<div *ngSwitchCase="types.Private_Routing">
		<!-- <app-follow-trajectory-action [action]="privateAction"></app-follow-trajectory-action> -->
	</div>

	<div *ngSwitchCase="types.Private_Position">
		<app-position-action [action]="privateAction" [entity]="entity"></app-position-action>
	</div>

	<button (click)="remove()" mat-flat-button fxFill>Remove Action</button>

</div>
