<!--
  ~ Copyright Truesense AI Solutions Pvt Ltd, All Rights Reserved.
  -->

<mat-card [satPopoverAnchor]="popover"
	[satPopoverHover]="1"
	[class.file-card]="true"
	[draggable]="isDraggable">
	<img [class.file-card-image]="true"
		[src]="thumbnail" />
	<p *ngIf="!showRenaming"
		class="file-name">{{ filename }}</p>
	<div *ngIf="showRenaming"
		class="file-name">
		<input style="border: 1px solid #ffcd00;"
			#nameInput
			[value]="filename"
			type="text" />
	</div>
</mat-card>
<sat-popover #popover
	verticalAlign="above">
	<div class="file-info-popover"
		*ngIf="asset && !showRenaming && !popoverDisabled">
		<div class="title">GUID: {{ asset?.guid }}</div>
		<div>Type: {{ asset?.getTypeAsString () | uppercase }}</div>
		<div>Name: {{ asset?.name }}</div>
		<div>Path: {{ asset?.path }}</div>
	</div>
</sat-popover>
