<!--
  ~ Copyright Truesense AI Solutions Pvt Ltd, All Rights Reserved.
  -->

<div [dir]='layoutConf.dir' class="app-admin-wrap">

    <!--  <app-menu-bar></app-menu-bar>-->
    <!--  <app-tool-bar></app-tool-bar>-->

    <!-- Header for top navigation layout -->
    <!-- ONLY REQUIRED FOR **TOP** NAVIGATION LAYOUT -->
    <app-header-top *ngIf="layoutConf.navigationPos === 'top'" [notificPanel]="notificationPanel">
    </app-header-top>

    <!-- Main Container -->
    <mat-sidenav-container [dir]='layoutConf.dir' [ngClass]="{
    'navigation-top': layoutConf.navigationPos === 'top',
    'sidebar-full': layoutConf.sidebarStyle === 'full',
    'sidebar-compact': layoutConf.sidebarStyle === 'compact' && layoutConf.navigationPos === 'side',
    'compact-toggle-active': layoutConf.sidebarCompactToggle,
    'sidebar-compact-big': layoutConf.sidebarStyle === 'compact-big' && layoutConf.navigationPos === 'side',
    'sidebar-opened': layoutConf.sidebarStyle !== 'closed' && layoutConf.navigationPos === 'side',
    'sidebar-closed': layoutConf.sidebarStyle === 'closed',
    'fixed-topbar': layoutConf.topbarFixed && layoutConf.navigationPos === 'side'
  }" class="app-admin-container app-side-nav-container mat-drawer-transition sidebar-{{layoutConf?.sidebarColor}} topbar-{{layoutConf?.topbarColor}}">
        <!-- SIDEBAR -->
        <!-- ONLY REQUIRED FOR **SIDE** NAVIGATION LAYOUT -->
        <!-- <app-sidebar-side
		*ngIf="layoutConf.navigationPos === 'side'"
		(mouseenter)="sidebarMouseenter($event)"
		(mouseleave)="sidebarMouseleave($event)"
		></app-sidebar-side> -->

        <!-- Top navigation layout (navigation for mobile screen) -->
        <!-- ONLY REQUIRED FOR **TOP** NAVIGATION MOBILE LAYOUT -->
        <!-- <app-sidebar-top *ngIf="layoutConf.navigationPos === 'top' && layoutConf.isMobile"></app-sidebar-top> -->

        <!-- App content -->
        <div [disabled]="layoutConf.topbarFixed || !layoutConf.perfectScrollbar" [perfectScrollbar]="" class="main-content-wrap">
            <!-- Header for side navigation layout -->
            <!-- ONLY REQUIRED FOR **SIDE** NAVIGATION LAYOUT -->
            <!-- <app-header-side
			  *ngIf="layoutConf.navigationPos === 'side'"
			  [notificPanel]="notificationPanel">
			</app-header-side> -->

            <div [disabled]="!layoutConf.topbarFixed || !layoutConf.perfectScrollbar" [perfectScrollbar]="scrollConfig" class="rightside-content-hold">
                <!-- View Loader -->
                <div *ngIf="isModuleLoading" class="view-loader">
                    <div class="spinner">
                        <div class="double-bounce1 mat-bg-accent"></div>
                        <div class="double-bounce2 mat-bg-primary"></div>
                    </div>
                </div>
                <!-- Breadcrumb -->
                <app-breadcrumb></app-breadcrumb>
                <!-- View outlet -->
                <router-outlet></router-outlet>
            </div>
        </div>
        <!-- View overlay for mobile navigation -->
        <div (click)="closeSidebar()" [ngClass]="{'visible': layoutConf.sidebarStyle !== 'closed' && layoutConf.isMobile}" class="sidebar-backdrop"></div>

        <!-- Notificaation bar -->
        <mat-sidenav #notificationPanel class="" mode="over" position="end">
            <div class="" fxLayout="column">
                <app-notifications [notificPanel]="notificationPanel"></app-notifications>
            </div>
        </mat-sidenav>
    </mat-sidenav-container>
</div>


<!-- Only for demo purpose -->
<!-- Remove this from your production version -->
<app-customizer></app-customizer>