<!--
  ~ Copyright Truesense AI Solutions Pvt Ltd, All Rights Reserved.
  -->

<div class="tv-field" align="left">
    <label class="tv-field-label">{{ label }}</label>
    <div class="tv-field-color-input" (click)="togglePicker()" #toggleButton>
        <div [style.background]="hex"></div><br />
    </div>
</div>

<div #colorPicker>

    <!-- <color-sketch *ngIf="isPickerOpen" [color]="value" (onChangeComplete)="onChangeCompleted($event)" (onChange)="onChange($event)"></color-sketch> -->

    <color-chrome *ngIf="isPickerOpen" [color]="value" (onChangeComplete)="onChangeCompleted($event)" (onChange)="onChange($event)"></color-chrome>


</div>

<br />