<!--
  ~ Copyright Truesense AI Solutions Pvt Ltd, All Rights Reserved.
  -->

<div align="left"
	 class="tv-field">
	<label class="tv-field-label">{{ label }}</label>
	<div #toggleButton
		 (click)="togglePicker()"
		 class="tv-field-color-input">
		<div [style.background]="hex"></div>
		<br/>
	</div>
</div>

<div #colorPicker>

	<!-- <color-sketch *ngIf="isPickerOpen" [color]="value" (onChangeComplete)="onChangeCompleted($event)" (onChange)="onChange($event)"></color-sketch> -->

	<color-chrome (onChange)="onChange($event)"
				  (onChangeComplete)="onChangeCompleted($event)"
				  *ngIf="isPickerOpen"
				  [color]="hex"></color-chrome>


</div>

<br/>
