<!--
  ~ Copyright Truesense AI Solutions Pvt Ltd, All Rights Reserved.
  -->

<mat-tab-group class="inspector-tab-group" fxFlexFill>
    <mat-tab label="Inspector">
        <div class="object-inspector-container">
            <perfect-scrollbar>
                <ng-template appComponentContainer></ng-template>
            </perfect-scrollbar>
        </div>
    </mat-tab>
    <mat-tab label="Scene Hierarchy">
        <app-scene-hierarchy></app-scene-hierarchy>
    </mat-tab>
    <mat-tab label="Map Hierarchy">
        <app-map-hierarchy></app-map-hierarchy>
    </mat-tab>
</mat-tab-group>

