<!--
  ~ Copyright Truesense AI Solutions Pvt Ltd, All Rights Reserved.
  -->

<div *ngIf="data"
	class="inspector-form-container">


	<app-vector3-field *ngIf="showPosition"
		label="Position"
		[value]="position"
		(changed)="positionChanged($event)">
	</app-vector3-field>

	<app-vector3-field *ngIf="showRotation"
		label="Rotation"
		[value]="rotation"
		(changed)="rotationChanged($event)">
	</app-vector3-field>

	<app-vector3-field *ngIf="showScale"
		label="Scale"
		[value]="scale"
		(changed)="scaleChanged($event)">
	</app-vector3-field>
</div>
