<!--
  ~ Copyright Truesense AI Solutions Pvt Ltd, All Rights Reserved.
  -->

<div *ngIf="data"
	class="inspector-form-container">

	<app-vector3-field (changed)="positionChanged($event)"
		*ngIf="showPosition"
		[value]="position"
		label="Position">
	</app-vector3-field>

	<app-vector3-field (changed)="rotationChanged($event)"
		*ngIf="showRotation"
		[value]="rotation"
		label="Rotation">
	</app-vector3-field>

	<app-vector3-field (changed)="scaleChanged($event)"
		*ngIf="showScale"
		[value]="scale"
		label="Scale">
	</app-vector3-field>
</div>
