<!--<form [formGroup]="positionGroup">-->

<!--<div>-->
<!--<mat-form-field style="width: 33%;">-->
<!--<input matInput type="number" required placeholder="X" formControlName="x">-->
<!--</mat-form-field>-->
<!--<mat-form-field style="width: 33%;">-->
<!--<input matInput type="number" required placeholder="Y" formControlName="y">-->
<!--</mat-form-field>-->
<!--<mat-form-field style="width: 33%;">-->
<!--<input matInput type="number" placeholder="Z" formControlName="z">-->
<!--</mat-form-field>-->
<!--</div>-->
<!--<div>-->
<!--<mat-form-field style="width: 33%;">-->
<!--<input matInput type="number" placeholder="H" formControlName="h">-->
<!--</mat-form-field>-->
<!--<mat-form-field style="width: 33%;">-->
<!--<input matInput type="number" placeholder="P" formControlName="p">-->
<!--</mat-form-field>-->
<!--<mat-form-field style="width: 33%;">-->
<!--<input matInput type="number" placeholder="R" formControlName="r">-->
<!--</mat-form-field>-->
<!--</div>-->

<!--</form>-->


<div>
	<mat-form-field style="width: 33%;">
		<input (ngModelChange)="onModelChanged($event)" [(ngModel)]="position.x" matInput placeholder="X" required
			   type="number">
	</mat-form-field>
	<mat-form-field style="width: 33%;">
		<input (ngModelChange)="onModelChanged($event)" [(ngModel)]="position.y" matInput placeholder="Y" required
			   type="number">
	</mat-form-field>
	<mat-form-field style="width: 33%;">
		<input (ngModelChange)="onModelChanged($event)" [(ngModel)]="position.z" matInput placeholder="Z" type="number">
	</mat-form-field>
</div>
<!-- <div>
    <mat-form-field style="width: 33%;">
        <input matInput type="number" placeholder="H" [(ngModel)]="position.h">
    </mat-form-field>
    <mat-form-field style="width: 33%;">
        <input matInput type="number" placeholder="P" [(ngModel)]="position.p">
    </mat-form-field>
    <mat-form-field style="width: 33%;">
        <input matInput type="number" placeholder="R" [(ngModel)]="position.r">
    </mat-form-field>
</div> -->
