<!--
  ~ Copyright Truesense AI Solutions Pvt Ltd, All Rights Reserved.
  -->

<h1 class="mat-tv-dialog-title"
	mat-dialog-title>{{ title }}</h1>
<div class="mat-tv-dialog-content"
	 mat-dialog-content>
	<div *ngFor="let field of fields"
		 style="width: 100%;">
		<app-string-field (changed)="onFieldChange(field, $event)"
						  *ngIf="field.type == 'text'"
						  [label]="field.name"
						  [value]="field.value">
		</app-string-field>
		<app-boolean-field (changed)="onFieldChange(field, $event)"
						   *ngIf="field.type == 'checkbox'"
						   [label]="field.name"
						   [value]="field.value == 'true' || field.value == true">
		</app-boolean-field>
	</div>
</div>
<div align="end"
	 class="mat-tv-dialog-actions"
	 mat-dialog-actions>
	<button mat-dialog-close
			mat-stroked-button>Close
	</button>
	<button (click)="save()"
			cdkFocusInitial
			mat-stroked-button>Save
	</button>
</div>
