<div *ngIf="entity" class="inspector-form-container">

	<app-string-field [value]="entity.name" label="Name"></app-string-field>

	<app-double-field *ngIf="debug" label="Speed" [value]="entity?.getCurrentSpeed()"></app-double-field>
	<app-double-field *ngIf="debug" label="Accel" [value]="entity?.getCurrentAcceleration()"></app-double-field>
	<app-double-field *ngIf="debug" label="Distance" [value]="entity?.getDistanceTraveled()"></app-double-field>

</div>


<app-action
	*ngFor="let action of initActions"
	(removed)="removeInitAction(action)"
	[action]="action"
	[entity]="entity">
</app-action>

<br/>

<app-event-editor
	*ngFor="let event of scenarioEvents"
	[entity]="entity"
	[event]="event">
</app-event-editor>

<br/>

<mat-form-field class="example-full-width" style="margin: 8px">
	<mat-label>Add Maneuver/Event</mat-label>
	<mat-select #addAction (valueChange)="addEvent($event)">
		<mat-option [value]="actionType.Private_Longitudinal_Speed">ChangeSpeed</mat-option>
		<mat-option [value]="actionType.Private_LaneChange">ChangeLane</mat-option>
		<mat-option [value]="actionType.Private_LaneOffset">ChangeLaneOffset</mat-option>
		<mat-option [value]="actionType.Private_Longitudinal_Distance">Longitudinal_Distance</mat-option>
	</mat-select>
</mat-form-field>
