<p>
  environment-inspector works!
</p>

<app-dynamic-inspector label="Envionment" [data]="data"></app-dynamic-inspector>

<app-dynamic-inspector label="Sun" [data]="data.weather.sun"></app-dynamic-inspector>

<app-dynamic-inspector label="Fpg" [data]="data.weather.fog"></app-dynamic-inspector>

<app-dynamic-inspector label="Precipication" [data]="data.weather.precipitation"></app-dynamic-inspector>

<app-dynamic-inspector label="Wind" [data]="data.weather.wind"></app-dynamic-inspector>



{{ data | json }}
