<app-dynamic-inspector label="Envionment" [data]="data"></app-dynamic-inspector>

<app-dynamic-inspector label="Sun" [data]="data.weather.sun"></app-dynamic-inspector>

<app-dynamic-inspector label="Dome" [data]="data.weather.domeImage"></app-dynamic-inspector>

<app-dynamic-inspector label="Fog" [data]="data.weather.fog"></app-dynamic-inspector>

<app-dynamic-inspector label="Precipitation" [data]="data.weather.precipitation"></app-dynamic-inspector>

<app-dynamic-inspector label="Wind" [data]="data.weather.wind"></app-dynamic-inspector>


