@import '~@angular/material/theming';

// Define your custom palettes
$mat-primary: (
	50 : #f8e5e9,
	100 : #e6bcc5,
	200 : #d493a1,
	300 : #c16a7d,
	400 : #ae4159,
	// progress bar color
	500 : #adb7c8,
	600 : #8e102f,
	700 : #800827,
	800 : #72001f,
	900 : #590013,
	A100 : #ff94a1,
	A200 : #ff6174,
	A400 : #ff2d47,
	A700 : #ff1432,
	contrast: (50 : #000000,
		100 : #000000,
		200 : #000000,
		300 : #000000,
		400 : #ffffff,
		500 : #ffffff,
		600 : #ffffff,
		700 : #ffffff,
		800 : #ffffff,
		900 : #ffffff,
		A100 : #000000,
		A200 : #000000,
		A400 : #000000,
		A700 : #000000,
	)
);

$mat-accent: (
	50 : #eceff1,
	100 : #cfd8dc,
	200 : #b0bec5,
	300 : #90a4ae,
	400 : #78919c,
	500 : #607d8b,
	600 : #587583,
	700 : #4e6a78,
	800 : #44606e,
	900 : #334d5b,
	A100 : #abe1ff,
	A200 : #78ceff,
	A400 : #45bcff,
	A700 : #2bb3ff,
	contrast: (50 : #000000,
		100 : #000000,
		200 : #000000,
		300 : #000000,
		400 : #000000,
		500 : #ffffff,
		600 : #ffffff,
		700 : #ffffff,
		800 : #ffffff,
		900 : #ffffff,
		A100 : #000000,
		A200 : #000000,
		A400 : #000000,
		A700 : #000000,
	)
);


$mat-gray: (
	100 : #606060,
	200 : #535353,
	300 : #4b4b4b,
	400 : #424242,
	500 : #333333,
);


// mandatory stuff for theming
$egret-primary: mat-palette($mat-primary);
$egret-accent: mat-palette($mat-accent);

// include the custom theme components into a theme object
$egret-theme: mat-dark-theme($egret-primary, $egret-accent);

$app-background: map-get($mat-gray, 100);
$primary-dark: map-get($mat-gray, 100);
$panel-color: map-get($mat-gray, 100);
$panel-background: map-get($mat-gray, 200);
$panel-100: map-get($mat-gray, 100);
$panel-200: map-get($mat-gray, 200);
$panel-300: map-get($mat-gray, 300);
$panel-400: map-get($mat-gray, 400);
$input-field-color: map-get($mat-gray, 300);
$panel-border-color: map-get($mat-gray, 400);
$native-border-color: map-get($mat-gray, 400);


$border-radius: 0px !important;

// include the custom theme object into the angular material theme
.egret-dark-pink {
	@include angular-material-theme($egret-theme);

	// You can adjust the selectors as necessary to target the specific buttons you want
	.mat-card,
	.mat-button,
	.mat-stroked-button,
	.mat-flat-button,
	.mat-icon-button,
	.mat-fab,
	.mat-mini-fab {
		border-radius: 0;
		color: #FFFFFF;
	}

	.mat-button.mat-accent,
	.mat-icon-button.mat-accent,
	.mat-stroked-button.mat-accent {
		background: $panel-400;
		color: #FFFFFF;
	}

	.mat-card {
		background: $app-background;
		box-shadow: none !important;
	}

	perfect-scrollbar {
		background: inherit;
	}

	.mat-tree {
		background: $app-background;
	}

	.mat-tree-node .mat-icon {
		line-height: 18px;
		font-size: 18px;
	}

	.mat-tree-node .mat-icon.chevron {
		width: 16px;
	}

	.mat-toolbar {
		background: $app-background;
		padding: 0 !important;
	}

	.app-toolbar {
		height: 60px;
	}

	.app-menubar {
		height: 44px;
	}

	.mat-menu-panel {
		border-radius: 0 !important;
		min-width: 300px;
	}

	.mat-menu-panel .mat-menu-item {
		line-height: 36px;
		height: 36px;
		padding: 0 24px;
	}

	.tool-button-icon {
		height: 16px;
		font-size: 18px;
	}

	.toolbar-button {
		width: 72px;
		padding: 0px 8px;
	}

	.border-right {
		border-right: 1px solid $native-border-color;
		//box-shadow: inset -1px 0px 0px 0px #5d5d5d;
	}

	.native-border {
		border-bottom: 1px solid $native-border-color;
		//box-shadow: inset 0 1px 0px 0px #5d5d5d;
	}

	.icon-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
	}

	.icon-label {
		display: block;
		font-size: 0.65rem;
		margin-top: -12px;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.mat-tab-nav-bar,
	.mat-tab-header {
		border-bottom: 1px solid $panel-border-color;
		background: $panel-color;
	}

	.mat-tab-label {
		height: 32px !important;
		background: $panel-color;
		opacity: 1;
		// min-width: 120px !important;
		font-size: 0.7rem;
	}

	.mat-tab-label-active {
		background: $panel-color;
	}

	.mat-ink-bar {
		background-color: transparent !important;
	}

	.object-inspector-container {
		background: $panel-color;
		display: flex;
		flex-direction: column;
		height: 100%;
		overflow: hidden;
		// border-left: 1px solid #4d4d4d;
		// padding: 8px 8px 0 8px;
	}


	.inspector-form-container {
		padding: 8px 8px 0 8px;
	}

	.inspector-editor-padding {
		padding: 8px 8px 0 8px;
	}

	.inspector-form-container>* {
		width: 100%;
	}

	.tv-field {
		display: flex;
		margin: 4px 0;
		min-height: 28px;
		align-items: center;
		flex-direction: row;
		flex-wrap: nowrap;
		position: relative;
		min-width: 0;
		border: 0;
	}

	.tv-field-label {
		color: #ebebeb;
		width: 30%;
		margin: 0;
		display: inline-block;
		box-sizing: border-box;
		vertical-align: middle;
		transition: opacity 100ms;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		user-select: none;
		border: 0 solid #232e30;
		font-size: 0.800em;
		text-transform: capitalize;
	}

	.tv-field-text-input {
		color: #ffffff;
		max-width: 70%;
		flex: 1;
		margin: 0;
		display: inline-block;
		box-shadow: inset 0 0 0 1px #666666;
		border-radius: 0;
		box-sizing: border-box;
		height: 28px;
		background-color: #4B4B4B;
		position: relative;
		align-items: center;
	}

	.tv-field-text-input>input {
		width: 100%;
		padding: 8px 8px;
		color: white;
		background: transparent;
		border: none;
		outline: none;
		box-shadow: none;
		font-size: 0.85em;
	}

	input[disabled] {
		cursor: not-allowed !important;
	}

	.inspector-toolbar {
		height: 32px;
		font-size: 0.7rem;
		padding: 0px !important;
	}

	.spacer {
		flex: 1 1 auto;
	}

	.inspector-toolbar-icon {
		width: 32px;
		height: 32px;
	}

	.inspector-toolbar-icon .mat-icon {
		font-size: 16px;
		line-height: 14px;
	}

	.file-card {
		margin: 0;
		cursor: pointer;
		padding: 12px 16px 8px 16px;
		background: none;
	}

	.file-card:hover {
		background: #525252;
	}

	.file-card:focus,
	.file-card:active {
		background: rgb(30, 30, 30);
	}

	.file-card-image {
		display: block;
		// margin-left: auto;
		// margin-right: auto;
		width: 67px;
		height: 67px;
		// object-fit: contain;
		// border-top-left-radius: inherit;
		// border-top-right-radius: inherit;
	}

	.file-name {
		padding: 4px 0px 0px 0px !important;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		font-size: 0.75em;
		text-align: center;
	}

	.file-name input {
		background: transparent;
		border: 0px solid transparent;
		width: 100%;
		color: #fff;
		text-align: center;
		font-size: inherit;
	}


	.folder-file-container {
		//height: 200px;
		background: $panel-400;
		//border-left: 1px solid $panel-border-color;
		//border-bottom: 1px solid $panel-border-color;
		//border-top: 1px solid $panel-border-color;
	}

	.project-heirarchy-container {
		//height: 200px;
		//border-bottom: 1px solid #171717;
		//border-top: 1px solid #171717;
	}

	.folder-item {
		color: black !important;
	}

	.folder {
		text-align: center;
		width: 100%;
		align-self: center;
	}

	.folder-icon {
		font-size: 64px !important;
		width: 64px;
		color: #55d2d8;
		cursor: pointer;
	}

	.folder-icon:hover,
	.folder-icon.selected {
		color: #3aadb3;
	}

	.folder-icon.selected {
		background: red;
	}


	.folder-name {
		margin: 4px 4px 4px 4px !important;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		font-size: 0.75em;
	}

	.content {
		// padding: 16px 8px 0px 0px !important;
	}

	.content>mat-card {
		// margin: 0px !important;
	}

	.material-field-card {
		padding: 8px 4px;
		margin: 0;
	}

	.material-field-card-thumbnail {
		float: left;
		margin-right: 8px;
	}

	.material-field-card .mat-card-title {
		font-size: 0.8rem !important;
	}

	.material-field-card .mat-card-subtitle {
		font-size: 0.7rem !important;
	}

	.app-viewport-stats {
		color: white;
		height: 38px;
		padding: 16px 16px !important;
		position: absolute;
		width: auto !important;
		font-size: 0.7rem;
	}

	.vertical-toolbar {
		flex-direction: column;
		background-color: $panel-background;
		color: white;
		height: 100%;
		width: 100%;
	}

	.vertical-toolbar .mat-icon-button {
		width: 100%;
	}

	.vertical-toolbar .mat-icon-button.selected {
		background-color: $panel-color;
	}

	.vertical-toolbar .mat-icon {
		font-size: 18px;
	}

	.view-helper {
		position: absolute;
		left: 0;
		top: 518px;
		height: 128px;
		width: 128px;
		z-index: 1000;
	}

	.viewport-toolbar {
		flex-direction: column;
		background: transparent;
		color: white;
		width: 32px;
		position: absolute;
		padding: 16px 16px !important;
		left: 73vw;
	}

	.viewport-toolbar .mat-icon-button {
		width: 32px;
		height: 32px;
		margin-bottom: 8px;
		background: $panel-100;
	}

	.viewport-toolbar .mat-icon {
		font-size: 16px;
		line-height: 14px;
	}

	.btn-icon {
		width: 32px !important;
		height: 32px !important;
		min-width: 32px !important;
		border-radius: 50% !important;
		margin-right: 8px !important;
		padding: 0 !important;
	}

	.btn-icon-condition {
		background: rgb(61, 87, 255) !important;
		width: 32px !important;
		height: 32px !important;
		min-width: 32px !important;
		border-radius: 50% !important;
		margin-right: 8px !important;
		padding: 0 !important;
	}

	.btn-icon-action {
		background: rgb(0, 182, 9) !important;
		width: 32px !important;
		height: 32px !important;
		min-width: 32px !important;
		border-radius: 50% !important;
		margin-right: 8px !important;
		padding: 0 !important;
	}

	.app-player-bar {
		top: 0;
		right: 0;
		//background: #424242;
		height: 44px;
		padding: 0px 4px !important;
		position: absolute;
		width: auto !important;
		z-index: 1000;
	}

	.app-player-bar .mat-icon {
		font-size: 18px;
	}

	.mat-icon-button:hover {
		//background: $panel-200;
	}

	.green-snackbar {
		background: rgb(109, 203, 109) !important;
		color: white !important;
	}

	.red-snackbar {
		background: rgb(255, 152, 152) !important;
		color: white !important;
	}

	.yellow-snackbar {
		background: rgb(255, 233, 162) !important;
		color: rgb(133, 100, 4) !important;
	}

	// required by box selection helper
	.selectBox {
		border: 1px solid #55aaff;
		background-color: rgba(75, 160, 255, 0.3);
		position: fixed;
	}

}
