.tv-field-button {
	color: #ffffff;
	max-width: 70%;
	flex: 1;
	margin: 0;
	display: inline-block;
	border-radius: 0;
	box-sizing: border-box;
	height: 36px;
	position: relative;
	align-items: center;
}
