<!--
  ~ Copyright Truesense AI Solutions Pvt Ltd, All Rights Reserved.
  -->

<div *ngIf="roadMark"
	 class="inspector-form-container">

	<app-double-field [disabled]="true"
					  [value]="roadMark.sOffset"
					  label="S">
	</app-double-field>

	<app-double-field (changed)="onWidthChanged($event)"
					  [value]="roadMark.width"
					  label="Width">
	</app-double-field>

	<app-enum-field (changed)="onTypeChanged($event)"
					[enum]="types"
					[value]="roadMark.type"
					label="Type">
	</app-enum-field>

	<app-dropdown-field (changed)="onWeightChanged($event)"
						[options]="['standard', 'bold']"
						[value]="roadMark.weight"
						label="Weight">
	</app-dropdown-field>

	<app-dropdown-field (changed)="onColorChanged($event)"
						[options]="['standard', 'white', 'yellow']"
						[value]="roadMark.color"
						label="Color">
	</app-dropdown-field>


	<button (click)="onDelete()"
			mat-stroked-button>Delete
	</button>

</div>
