<!--
  ~ Copyright Truesense AI Solutions Pvt Ltd, All Rights Reserved.
  -->

<div *ngIf="roadMark" class="inspector-form-container">

	<app-double-field
		label="S"
		[value]="roadMark.sOffset"
		[disabled]="true">
	</app-double-field>

	<app-double-field
		label="Width"
		[value]="roadMark.width"
		(changed)="onWidthChanged($event)">
	</app-double-field>

	<app-enum-field
		label="Type"
		[enum]="types"
		[value]="roadMark.type"
		(changed)="onTypeChanged($event)">
	</app-enum-field>

	<app-dropdown-field
		label="Weight"
		[options]="['standard', 'bold']"
		[value]="roadMark.weight"
		(changed)="onWeightChanged($event)">
	</app-dropdown-field>

	<app-dropdown-field
		label="Color"
		[options]="['standard', 'white', 'yellow']"
		[value]="roadMark.color"
		(changed)="onColorChanged($event)">
	</app-dropdown-field>


</div>
