<!--
  ~ Copyright Truesense AI Solutions Pvt Ltd, All Rights Reserved.
  -->

<div fxFlex fxFlexOffset="10px" fxLayout="column">

	<mat-form-field class="example-full-width">
		<input (ngModelChange)="onModelChanged($event)" [(ngModel)]="query" autocomplete="false" matInput
			   placeholder="Search">
	</mat-form-field>

	<perfect-scrollbar style="max-height: 600px;">
		<mat-grid-list cols="3" gutterSize="10px" rowHeight="1:1">
			<mat-grid-tile (click)="onMouseDown(model)" *ngFor="let model of signs | search : query">

				<mat-card [class.active]="selectedName==model" class="example-card">
					<img [alt]="model" [src]="'assets/signs/' + model + '.png'" mat-card-image
						 style="width: 100%; max-height: 80px;">
					<mat-card-content style="position: absolute; bottom: 0em;">
						{{ model }}
					</mat-card-content>
				</mat-card>

			</mat-grid-tile>
		</mat-grid-list>
	</perfect-scrollbar>
</div>
