<div [ngSwitch]="action.actionName">

    <div *ngSwitchCase="'LaneChange'">
        <app-lane-change-action [action]="action"></app-lane-change-action>
    </div>

    <div *ngSwitchCase="'Speed'">
        <app-speed-action [action]="action"></app-speed-action>
    </div>

    <div *ngSwitchCase="'Distance'">
        Distance Action
    </div>

    <div *ngSwitchCase="'FollowTrajectory'">
        <app-follow-trajectory-action [action]="action"></app-follow-trajectory-action>
    </div>

    <div *ngSwitchCase="'Position'">
        <app-position-action-editor [action]="action" [entity]="entity"></app-position-action-editor>
    </div>

</div>