<!--
  ~ Copyright Truesense AI Solutions Pvt Ltd, All Rights Reserved.
  -->

<div *ngIf="data"
	class="inspector-form-container">

	<app-double-field (changed)="onDistanceChanged($event)"
		[disabled]="true"
		[value]="width.s"
		label="Distance"
		min="0"></app-double-field>

	<app-double-field (changed)="onWidthChanged($event)"
		[value]="width.a"
		label="Width"
		max="50"
		min="0.1"></app-double-field>

	<app-button-field (clicked)="onDelete()"
		label="Delete"></app-button-field>

</div>
