<mat-toolbar class="native-border inspector-toolbar">
	<button (click)="isOpen=!isOpen"
			class="inspector-toolbar-icon"
			mat-icon-button>
		<mat-icon *ngIf="!isOpen">chevron_right</mat-icon>
		<mat-icon *ngIf="isOpen">expand_more</mat-icon>
	</button>
	<span>Crosswalk Inspector</span>
</mat-toolbar>

<div *ngIf="isOpen && marking"
	 class="inspector-editor-padding">

	<app-enum-field (changed)="onAttrChanged($event, 'color')"
					[enum]="colors"
					[value]="marking.color"
					label="Color">
	</app-enum-field>

	<app-double-field (changed)="onAttrChanged($event, 'spaceLength')"
					  [min]="0"
					  [value]="marking.spaceLength"
					  label="spaceLength"
					  suffix="m">
	</app-double-field>

	<app-double-field (changed)="onAttrChanged($event, 'lineLength')"
					  [min]="0"
					  [value]="marking.lineLength"
					  label="lineLength"
					  suffix="m">
	</app-double-field>

	<app-double-field (changed)="onAttrChanged($event, 'startOffset')"
					  [min]="0"
					  [value]="marking.startOffset"
					  label="startOffset"
					  suffix="m">
	</app-double-field>

	<app-double-field (changed)="onAttrChanged($event, 'stopOffset')"
					  [min]="0"
					  [value]="marking.stopOffset"
					  label="stopOffset"
					  suffix="m">
	</app-double-field>

	<app-double-field (changed)="onAttrChanged($event, 'zOffset')"
					  [min]="0"
					  [value]="marking.zOffset"
					  label="zOffset"
					  suffix="m">
	</app-double-field>

	<app-double-field (changed)="onAttrChanged($event, 'width')"
					  [value]="marking.width"
					  label="width"
					  min="0"
					  suffix="m">
	</app-double-field>

	<app-vector3-field (changed)="onPositionChanged($event)"
					   *ngIf="data?.point"
					   [value]="position"
					   [z]="false"
					   label="Point">
	</app-vector3-field>

	<button (click)="deletePoint()"
			mat-stroked-button
			style="width: 100%;">Delete Point
	</button>

	<button (click)="deleteCrosswalk()"
			mat-stroked-button
			style="width: 100%;">Delete Crosswalk
	</button>

</div>
