/*
 * Copyright Truesense AI Solutions Pvt Ltd, All Rights Reserved.
 */

.example-tree-invisible {
	display: none;
}

.example-tree ul,
.example-tree li {
	margin-top: 0;
	margin-bottom: 0;
	list-style-type: none;
}

.example-tree ul {
	padding-inline-start: 8px !important;
}

.mat-tree-node {
	height: 32px !important;
	min-height: 32px !important;
	width: 100% !important;
}

.mat-icon-button {
	margin-right: 12px !important;
	height: 32px !important;
	line-height: 28px !important;
	flex: 1;
	text-align: left;
	font-size: 0.7rem;
	font-weight: 400;
}
