<mat-form-field *ngIf="showType" class="example-full-width">
	<mat-label>Position</mat-label>
	<mat-select (ngModelChange)="onChange($event)" [ngModel]="position.type">
		<mat-option [value]="types.World">World Position</mat-option>
		<!--        <mat-option [value]="types.Road">Road Position</mat-option>-->
		<mat-option [value]="types.Lane">Lane Position</mat-option>
		<mat-option [value]="types.RelativeObject">Relative To Object</mat-option>
	</mat-select>
</mat-form-field>

<div [ngSwitch]="position.type">

	<div *ngSwitchCase="types.World">
        <app-world-position-editor (positionModified)="onPositionModified($event)" [position]="worldPosition">
        </app-world-position-editor>
    </div>

	<!--    <div *ngSwitchCase="types.Road">-->
	<!--        <app-road-position-editor (positionModified)="onPositionModified($event)" [position]="position">-->
	<!--        </app-road-position-editor>-->
	<!--    </div>-->

	<!-- <div *ngSwitchCase="types.Lane">
        <app-lane-position-editor (positionModified)="onPositionModified($event)" [position]="position">
        </app-lane-position-editor>
    </div>

    <div *ngSwitchCase="types.RelativeObject">
        <app-relative-object-position-editor (positionModified)="onPositionModified($event)" [position]="position">
        </app-relative-object-position-editor>
    </div> -->

</div>
