<button class="btn-icon" [matMenuTriggerFor]="menu" mat-stroked-button>
	<mat-icon matTooltip="Add Start Condition">add</mat-icon>
</button>
<mat-menu #menu="matMenu">
	<button mat-menu-item (click)="onAddCondition(conditionType.ByValue_SimulationTime, event)">SimulationTime</button>
	<button mat-menu-item (click)="onAddCondition(conditionType.ByEntity_Distance, event)">Distance</button>
	<button mat-menu-item (click)="onAddCondition(conditionType.ByEntity_ReachPosition, event)">ReachedPosition</button>
	<button mat-menu-item (click)="onAddCondition(conditionType.ByEntity_TimeHeadway, event)">TimeHeadway</button>
	<button mat-menu-item (click)="onAddCondition(conditionType.ByEntity_TraveledDistance, event)">TraveledDistance
	</button>
	<button mat-menu-item (click)="onAddCondition(conditionType.ByEntity_Speed, event)">Speed</button>
	<button mat-menu-item (click)="onAddCondition(conditionType.ByEntity_Offroad, event)">OffRoad</button>
	<button mat-menu-item (click)="onAddCondition(conditionType.ByEntity_EndOfRoad, event)">EndOfRoad</button>
	<button mat-menu-item (click)="onAddCondition(conditionType.ByEntity_RelativeDistance, event)">RelativeDistance
	</button>
	<button mat-menu-item (click)="onAddCondition(conditionType.ByEntity_Acceleration, event)">Acceleration</button>
	<button mat-menu-item (click)="onAddCondition(conditionType.ByEntity_RelativeSpeed, event)">RelativeSpeed</button>
</mat-menu>
<button *ngFor="let condition of event.startConditions"
		(contextmenu)="showConditionMenu($event,condition)"
		(click)="conditionClicked(condition)"
		class="btn-icon-condition" mat-stroked-button>
	<mat-icon [matTooltip]="condition.name">bolt</mat-icon>
</button>
<br/>

<button class="btn-icon" [matMenuTriggerFor]="actionMenu" mat-stroked-button>
	<mat-icon matTooltip="Add Action">add</mat-icon>
</button>
<mat-menu #actionMenu="matMenu">
	<button mat-menu-item (click)="onAddEventAction(actionType.Private_Longitudinal_Speed, event)">ChangeSpeed</button>
	<button mat-menu-item (click)="onAddEventAction(actionType.Private_LaneChange, event)">ChangeLane</button>
	<button mat-menu-item (click)="onAddEventAction(actionType.Private_LaneOffset, event)">ChangeLaneOffset</button>
	<button mat-menu-item (click)="onAddEventAction(actionType.Private_Longitudinal_Distance, event)">
		Longitudinal_Distance
	</button>
</mat-menu>
<button *ngFor="let action of event.getActions()" (contextmenu)="showActionMenu($event,action)"
		(click)="actionClicked(action)" class="btn-icon-action" mat-stroked-button>
	<mat-icon [matTooltip]="action['actionName']">directions_run</mat-icon>
</button>
<br/><br/>
<app-action
	*ngIf="selectedAction"
	[hidden]="!showAction"
	[action]="selectedAction"
	[entity]="entity">
</app-action>
<app-condition-editor
	*ngIf="selectedCondition"
	[hidden]="!showCondition"
	[condition]="selectedCondition">
</app-condition-editor>
