<mat-toolbar class="native-border inspector-toolbar">
	<button (click)="toggle($event)" mat-icon-button class="inspector-toolbar-icon">
		<mat-icon *ngIf="!isOpen">chevron_right</mat-icon>
		<mat-icon *ngIf="isOpen">expand_more</mat-icon>
	</button>
	<span>Maneuver</span>
	<span class="spacer"></span>
	<button mat-icon-button class="inspector-toolbar-icon" [matMenuTriggerFor]="menu">
		<mat-icon>bolt</mat-icon>
	</button>
	<button mat-icon-button class="inspector-toolbar-icon" [matMenuTriggerFor]="menu">
		<mat-icon>directions_run</mat-icon>
	</button>
	<button mat-icon-button class="inspector-toolbar-icon" [matMenuTriggerFor]="menu">
		<mat-icon>more_vert</mat-icon>
	</button>
	<mat-menu #menu="matMenu">
		<button mat-menu-item (click)="deleteManeuver($event)">
			<mat-icon>delete</mat-icon>
			<span>Delete Maneuver</span>
		</button>
	</mat-menu>
</mat-toolbar>

<div *ngIf="isOpen">
	<div *ngFor="let condition of event.startConditions">
		<app-condition-editor
			[condition]="condition">
		</app-condition-editor>
	</div>

	<div *ngFor="let action of event.getActions()">
		<app-action
			[action]="action"
			[entity]="entity">
		</app-action>
	</div>
</div>
