<!--
  ~ Copyright Truesense AI Solutions Pvt Ltd, All Rights Reserved.
  -->

<div *ngIf="material"
	class="inspector-form-container">

	<mat-card class="mat-card material-preview">
		<img [src]="thumbnail" />
	</mat-card>

	<app-string-field [disabled]="true"
		[value]="material.name"
		label="Name"></app-string-field>

	<!-- <app-dropdown-field (changed)="onTypeChanged($event)"
		[options]="materialTypes"
		[value]="material.type"></app-dropdown-field> -->

	<app-double-field (changed)="onRoughnessChanged($event)"
		*ngIf="material.roughness != undefined"
		[value]="material.roughness"
		label="Roughness"
		max="1"
		min="0"></app-double-field>

	<app-double-field (changed)="onMetalnessChanged($event)"
		*ngIf="material.metalness != undefined"
		[value]="material.metalness"
		label="Metalness"
		max="1"
		min="0"></app-double-field>

	<app-color-field (changed)="onEmissiveChanged($event)"
		*ngIf="material.emissive != undefined"
		[value]="material.emissive"
		label="Emissive"></app-color-field>

	<app-double-field (changed)="onEmissiveIntensityChanged($event)"
		*ngIf="material.emissiveIntensity != undefined"
		[value]="material.emissiveIntensity"
		label="Emissive Intensity"
		max="1"
		min="0"></app-double-field>

	<app-double-field (changed)="onOpacityChanged($event)"
		*ngIf="material.opacity != undefined"
		[value]="material.opacity"
		label="Opacity"
		max="1"
		min="0"></app-double-field>

	<app-boolean-field (changed)="onTransparentChanged($event)"
		*ngIf="material.transparent != undefined"
		[value]="material.transparent"
		label="Transparent">
	</app-boolean-field>

	<app-color-field (changed)="onColorChanged($event)"
		*ngIf="material.color != undefined"
		[value]="material.color"
		label="Color"></app-color-field>

	<app-double-field (changed)="updateMaterialProperty( this.material, 'displacementScale', $event )"
		*ngIf="material.displacementScale != undefined"
		[value]="material.displacementScale"
		label="displacementScale"
		max="1"
		min="0"></app-double-field>

	<app-double-field (changed)="updateMaterialProperty( this.material, 'displacementBias', $event )"
		*ngIf="material.displacementBias != undefined"
		[value]="material.displacementBias"
		label="displacementBias"
		max="1"
		min="0"></app-double-field>

	<app-vector2-field (changed)="updateMaterialProperty( this.material, 'normalScale', $event )"
		*ngIf="material.normalScale != undefined"
		[value]="material.normalScale"
		label="normalScale"
		max="1"
		min="0"></app-vector2-field>

	<app-double-field (changed)="updateMaterialProperty( this.material, 'alphaTest', $event )"
		*ngIf="material.alphaTest != undefined"
		[value]="material.alphaTest"
		label="alphaTest"
		max="1"
		min="0"></app-double-field>

	<app-texture-field (changed)="onMapChanged($event)"
		[guid]="material.map?.['guid']"
		label="Map"></app-texture-field>

	<app-texture-field (changed)="onRoughnessMapChanged($event)"
		[guid]="material.roughnessMap?.['guid']"
		label="Roughness Map"></app-texture-field>

	<app-texture-field (changed)="onMetalnessMapChanged($event)"
		[guid]="material.metalnessMap?.['guid']"
		label="Metalness Map"></app-texture-field>

	<app-texture-field (changed)="onNormalMapChanged($event)"
		[guid]="material.normalMap?.['guid']"
		label="Normal Map"></app-texture-field>

	<app-texture-field (changed)="onAOMapChanged($event)"
		[guid]="material.aoMap?.['guid']"
		label="AO Map"></app-texture-field>

	<app-texture-field (changed)="onDisplacementMapChanged($event)"
		[guid]="material.displacementMap?.['guid']"
		label="Displacement Map"></app-texture-field>

	<app-texture-field (changed)="onAlphaMapChanged($event)"
		[guid]="material.alphaMap?.['guid']"
		label="Alpha Map"></app-texture-field>


</div>
