/*
 * Copyright Truesense AI Solutions Pvt Ltd, All Rights Reserved.
 */

.material-card {
    margin: 0px !important;
    padding: 0px 0px 16px !important;
    border: none !important;
}

.material-card-thumbnail {
    float: left;
    margin-right: 8px;
}

.material-preview {
    text-align: center; 
    border: 0px solid !important;
    margin-left: -20px !important;
    margin-top: -20px !important;
    margin-bottom: -20px !important;
}