<!--
  ~ Copyright Truesense AI Solutions Pvt Ltd, All Rights Reserved.
  -->

<mat-toolbar class="app-player-bar native-border">

	<button (click)="playSimulation()"
		mat-icon-button
		matTooltip="Play Scenario">
		<mat-icon>play_arrow</mat-icon>
	</button>

	<button (click)="pauseSimulation()"
		mat-icon-button
		matTooltip="Pause Scenario">
		<mat-icon>pause</mat-icon>
	</button>

	<button (mousedown)="onMouseDown()"
		(mouseup)="onMouseUp()"
		mat-icon-button
		matTooltip="Play Single Frame">
		<mat-icon>fast_forward</mat-icon>
	</button>

	<button (click)="stopSimulation()"
		mat-icon-button
		matTooltip="Stop & Reset Scenario">
		<mat-icon>stop</mat-icon>
	</button>

</mat-toolbar>
