/*
 * Copyright Truesense AI Solutions Pvt Ltd, All Rights Reserved.
 */

.app-player-bar {
    top: 12px;
    right: 10px;
    background: #424242;
    height: 38px;
    padding: 0px 4px !important;
    position: absolute;
    width: auto !important;
}