/*!
 * Copyright Truesense AI Solutions Pvt Ltd, All Rights Reserved.
 */

.simple-popover {
    padding: 16px;
    background: white;
    max-width: 400px;
    line-height: 22px;
    font-size: 13px;
}

.simple-popover .title {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 8px;
    color: $headings-color;
}