/*!
 * Copyright Truesense AI Solutions Pvt Ltd, All Rights Reserved.
 */

.simple-popover {
	padding: 12px 16px;
	background: white;
	max-width: 400px;
	line-height: 22px;
	font-size: 13px;
	color: #333;
}

.simple-popover .title {
	font-weight: 700;
	font-size: 16px;
	margin-bottom: 4px;
	color: $headings-color;
	text-transform: uppercase;

}
