/*!
 * Copyright Truesense AI Solutions Pvt Ltd, All Rights Reserved.
 */

/*---- Plans & Pricings -----*/
.plan-pricing .mat-list-item .mat-list-item-content {
  display: inline-flex !important;
  text-align: center;
  font-size: .875rem !important;
}