<!--
  ~ Copyright Truesense AI Solutions Pvt Ltd, All Rights Reserved.
  -->

<div *ngIf="road" class="inspector-editor-padding">

	<app-double-field [value]="road.length" [disabled]="true" label="Length" suffix="m"></app-double-field>

	<app-double-field (changed)="onRoadSpeedChanged($event)" [value]="roadSpeed" label="Speed Limit" suffix="m/s" max="200" min="0"></app-double-field>

	<app-enum-field (changed)="onRoadTypeChanged($event)" [enum]="roadTypesEnum" [value]="type" label="Road Type"></app-enum-field>

</div>


<div *ngIf="road">

	<app-material-field (changed)="onDrivingMaterialChanged($event)" [guid]="road.drivingMaterialGuid" label="Driving Material"></app-material-field>

	<app-material-field (changed)="onSidewalkMaterialChanged($event)" [guid]="road.sidewalkMaterialGuid" label="Sidewalk Material"></app-material-field>

	<app-material-field (changed)="onBorderMaterialChanged($event)" [guid]="road.borderMaterialGuid" label="Border Material"></app-material-field>

	<app-material-field (changed)="onShoulderMaterialChanged($event)" [guid]="road.shoulderMaterialGuid" label="Shoulder Material"></app-material-field>

</div>

<div *ngIf="controlPoint" class="inspector-editor-padding">
	<app-vector3-field label="Control Point" [value]="controlPoint.position"></app-vector3-field>
</div>

