<!--
  ~ Copyright Truesense AI Solutions Pvt Ltd, All Rights Reserved.
  -->


<mat-toolbar class="native-border inspector-toolbar">
	<button (click)="isOpen=!isOpen"
		class="inspector-toolbar-icon"
		mat-icon-button>
		<mat-icon *ngIf="!isOpen">chevron_right</mat-icon>
		<mat-icon *ngIf="isOpen">expand_more</mat-icon>
	</button>
	<span>Road Inspector</span>
</mat-toolbar>

<div *ngIf="isOpen && road"
	class="inspector-editor-padding">

	<app-double-field [disabled]="true"
		[value]="road.length"
		label="Length"
		suffix="m"></app-double-field>

	<app-double-field (changed)="onRoadSpeedChanged($event)"
		[value]="roadSpeed"
		label="Speed Limit"
		max="200"
		min="0"
		suffix="m/s"></app-double-field>

	<app-enum-field (changed)="onRoadTypeChanged($event)"
		[enum]="roadTypesEnum"
		[value]="type"
		label="Road Type"></app-enum-field>

	<app-string-field [disabled]="true"
		[value]="splineType"
		label="Spline"></app-string-field>

</div>

<div *ngIf="isOpen && road">

	<app-material-field (changed)="onDrivingMaterialChanged($event)"
		[guid]="road.drivingMaterialGuid"
		label="Driving Material"></app-material-field>

	<app-material-field (changed)="onSidewalkMaterialChanged($event)"
		[guid]="road.sidewalkMaterialGuid"
		label="Sidewalk Material"></app-material-field>

	<app-material-field (changed)="onBorderMaterialChanged($event)"
		[guid]="road.borderMaterialGuid"
		label="Border Material"></app-material-field>

	<app-material-field (changed)="onShoulderMaterialChanged($event)"
		[guid]="road.shoulderMaterialGuid"
		label="Shoulder Material"></app-material-field>

	<div *ngIf="controlPoint"
		class="inspector-editor-padding">
		<app-vector3-field (changed)="onControlPointChanged($event)"
			[value]="controlPointPosition"
			label="Control Point"></app-vector3-field>
	</div>

</div>

<div *ngIf="isOpen && road"
	class="inspector-editor-padding">

	<button (click)="exportRoadStyle()"
		mat-stroked-button
		style="width: 100%;">Export Road Style
	</button>

	<button (click)="duplicateRoad()"
		mat-stroked-button
		style="width: 100%;">Duplicate Road
	</button>

	<button (click)="onDelete()"
		mat-stroked-button
		style="width: 100%;">Delete Road
	</button>

	<button (click)="onDeleteSpline()"
		mat-stroked-button
		style="width: 100%;">Delete Spline
	</button>

</div>
