<!--
  ~ Copyright Truesense AI Solutions Pvt Ltd, All Rights Reserved.
  -->

<div *ngIf="road" class="inspector-form-container">

    <mat-form-field class="full-width">
        <input [(ngModel)]="road.id" disabled matInput placeholder="Road ID" type="number">
    </mat-form-field>

    <mat-form-field class="full-width">
        <input [(ngModel)]="road.length" disabled matInput placeholder="Length (Meters)" type="number">
    </mat-form-field>

    <app-double-field disabled label="Length (Meters)" [value]="road.length"></app-double-field>

    <app-double-field label="Speed Limit (Miles/Hour)" [value]="roadSpeed" min="0" max="200" (changed)="onRoadSpeedChanged($event)"></app-double-field>

    <app-enum-field label="Road Type" [value]="type" [enum]="roadTypesEnum" (changed)="onRoadTypeChanged($event)"></app-enum-field>

    <app-material-field label="Driving Material" [guid]="road.drivingMaterialGuid" (changed)="onDrivingMaterialChanged($event)"></app-material-field>

    <app-material-field label="Sidewalk Material" [guid]="road.sidewalkMaterialGuid" (changed)="onSidewalkMaterialChanged($event)"></app-material-field>

    <app-material-field label="Border Material" [guid]="road.borderMaterialGuid" (changed)="onBorderMaterialChanged($event)"></app-material-field>

    <app-material-field label="Shoulder Material" [guid]="road.shoulderMaterialGuid" (changed)="onBorderMaterialChanged($event)"></app-material-field>

    <div *ngIf="controlPoint">
        <span>Road Control Point</span><br />
        <mat-form-field style="width: 50%;">
            <input disabled [(ngModel)]="controlPoint.position.x" matInput placeholder="X" type="number">
        </mat-form-field>
        <mat-form-field style="width: 50%;">
            <input disabled [(ngModel)]="controlPoint.position.y" matInput placeholder="Y" type="number">
        </mat-form-field>
    </div>
</div>