.label-container {
  color: white;
  text-align: right;
}

.label {
  color: white;
  width: 22px;
  text-align: right;
  font-size: 0.7em;
}

.x-axis {
//   position: absolute;
//   bottom: 28px;
//   background-color: rgb(63, 63, 63);
//   display: block;
//   height: 16px;
//   width: 100%;
}

.y-axis {
//   background-color: rgb(63, 63, 63);
//   display: block;
//   width: 16px;
}
