<!--
  ~ Copyright Truesense AI Solutions Pvt Ltd, All Rights Reserved.
  -->

<div *ngIf="data.polygon" class="inspector-form-container">

    <app-double-field (changed)="onDensityChanged($event)" [max]="1.0" [min]="0.0" [value]="data.polygon.density" label="Density"></app-double-field>


</div>

<div *ngIf="data.controlPoint">
    <br />
    <span>Control Point</span><br />
    <app-transform-inspector [data]="data.controlPoint" [showRotation]="false" [showScale]="false"></app-transform-inspector>
</div>