<!--
  ~ Copyright Truesense AI Solutions Pvt Ltd, All Rights Reserved.
  -->

<div class="inspector-form-container" *ngIf="data.polygon">

    <app-double-field label="Density" [value]="data.polygon.density" [min]="0.0" [max]="1.0" (changed)="onDensityChanged($event)"></app-double-field>


</div>

<div *ngIf="data.controlPoint">
    <br />
    <span>Control Point</span><br />
    <app-transform-inspector [data]="data.controlPoint" showRotation="false" showScale="false"></app-transform-inspector>
</div>