/*
 * Copyright Truesense AI Solutions Pvt Ltd, All Rights Reserved.
 */

.console-container {
	background-color: #d1d1d1;
	padding: 0px;
	min-height: 200px;
	height: 100%;
	color: rgb(37, 37, 37);
	padding-top: 30px;
}

mat-icon .warn {
	color: yellow;
}

mat-icon .info {
	color: blue;
}

.console-toolbar-icon {
	padding: 0 14px;
}

.console-toolbar-spacer {
	flex: 1 1 auto;
}

.mat-toolbar {
	height: 30px !important;
	min-height: 30px !important;
	position: absolute;
	z-index: 999;
}

.console-toolbar-row {
	height: 30px;
}

.console-toolbar-button {
	height: 30px;
	padding: 0;
}

.console-message-icon {
	font-size: 24px !important;
	line-height: 24px !important;
	padding: 0px !important;
}

.console-message {
	color: black;
}

.console-log-item {
	height: 32px !important;
	border-bottom: 1px solid #8b8b8b;
}

.counter-chip {
	padding: 4px 8px 4px 8px !important;
	line-height: 12px !important;
	font-size: 12px;
	display: block;
}

perfect-scrollbar {
	/* background: #424242 !important; */
}
