<!--<form [formGroup]="positionGroup">-->

<!--<div>-->
<!--<mat-form-field style="width: 33%;">-->
<!--<input matInput type="number" required placeholder="X" formControlName="x">-->
<!--</mat-form-field>-->
<!--<mat-form-field style="width: 33%;">-->
<!--<input matInput type="number" required placeholder="Y" formControlName="y">-->
<!--</mat-form-field>-->
<!--<mat-form-field style="width: 33%;">-->
<!--<input matInput type="number" placeholder="Z" formControlName="z">-->
<!--</mat-form-field>-->
<!--</div>-->
<!--<div>-->
<!--<mat-form-field style="width: 33%;">-->
<!--<input matInput type="number" placeholder="H" formControlName="h">-->
<!--</mat-form-field>-->
<!--<mat-form-field style="width: 33%;">-->
<!--<input matInput type="number" placeholder="P" formControlName="p">-->
<!--</mat-form-field>-->
<!--<mat-form-field style="width: 33%;">-->
<!--<input matInput type="number" placeholder="R" formControlName="r">-->
<!--</mat-form-field>-->
<!--</div>-->

<!--</form>-->


<div>
    <mat-form-field style="width: 33%;">
        <input matInput type="number" required placeholder="X" (ngModelChange)="onModelChanged($event)"
            [(ngModel)]="position.x">
    </mat-form-field>
    <mat-form-field style="width: 33%;">
        <input matInput type="number" required placeholder="Y" (ngModelChange)="onModelChanged($event)"
            [(ngModel)]="position.y">
    </mat-form-field>
    <mat-form-field style="width: 33%;">
        <input matInput type="number" placeholder="Z" (ngModelChange)="onModelChanged($event)" [(ngModel)]="position.z">
    </mat-form-field>
</div>
<!-- <div>
    <mat-form-field style="width: 33%;">
        <input matInput type="number" placeholder="H" [(ngModel)]="position.h">
    </mat-form-field>
    <mat-form-field style="width: 33%;">
        <input matInput type="number" placeholder="P" [(ngModel)]="position.p">
    </mat-form-field>
    <mat-form-field style="width: 33%;">
        <input matInput type="number" placeholder="R" [(ngModel)]="position.r">
    </mat-form-field>
</div> -->