<mat-card class="p-0" fxLayout="column" fxFlexFill (contextmenu)="showContextMenu($event)">
    <mat-tab-group>
        <mat-tab label="Hierarchy" >

            <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">

                <!-- This is the tree node template for leaf nodes -->
                <mat-tree-node (click)="onClick(node)" (dblclick)="onDoubleClick(node)" *matTreeNodeDef="let node">
                    <!-- use a disabled button to provide padding for tree leaf -->
                    <button mat-icon-button disabled></button>
                    {{ node.name }}
                </mat-tree-node>

                <!-- This is the tree node template for expandable nodes -->
                <mat-tree-node *matTreeNodeDef="let node; when: hasChild">
                    <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
                        <mat-icon class="mat-icon-rtl-mirror">
                            {{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
                        </mat-icon>
                    </button>
                    {{ node.name }}
                </mat-tree-node>

            </mat-tree>

        </mat-tab>
    </mat-tab-group>
</mat-card>
