<div align="left"
	class="tv-field">

	<label class="tv-field-label">{{ label }}</label>

	<div class="tv-field-text-input"
		fxFlex
		fxLayout="row">

		<app-double-input style="width: 33%; margin-right: 4px;"
			[value]="value.x"
			[disabled]="disabled"
			(changed)="onXChanged($event)"></app-double-input>
		<app-double-input style="width: 33%; margin-right: 4px;"
			[value]="value.y"
			[disabled]="disabled"
			(changed)="onYChanged($event)"></app-double-input>
		<app-double-input style="width: 33%; margin-right: 0px;"
			min="0"
			[value]="value.z"
			[disabled]="disabled"
			(changed)="onZChanged($event)"></app-double-input>

	</div>

</div>
