<div class="inspector-form-container" *ngIf="entity">

    <h5>Entity: {{ entity.name }}</h5>

    <button (click)="editAction(action)" *ngFor="let action of actions" mat-stroked-button>
        Edit {{ action.actionName }}
    </button>

    <button (click)="editEvent(event)" *ngFor="let event of events" mat-stroked-button>
        Edit {{ event.name }}
    </button>

    <div *ngIf="actions.length == 0">
        <p>No Actions Added</p>
    </div>

    <h5>Add New Actions</h5>
    <button (click)="addAction()" mat-stroked-button>Add Action</button>
    <!-- <button (click)="addSpeedAction()" mat-stroked-button>Change Speed</button> -->
    <!-- <button (click)="addTrajectoryAction()" mat-stroked-button>FollowTrajectory</button> -->
    <!--    <button (click)="addChangeLaneAction()" mat-stroked-button>ChangeLane</button>-->

</div>
