<!--
  ~ Copyright Truesense AI Solutions Pvt Ltd, All Rights Reserved.
  -->


<div fxFlexFill
	fxLayout="column">

	<app-menu-bar></app-menu-bar>

	<app-tool-bar></app-tool-bar>

	<!-- HACK: style="height: 500px; overflow: auto;" -->
	<!-- this ensures object-inspector does not outgrow parent -->
	<div fxFlex
		fxLayout="row"
		fxLayoutAlign="space-around"
		fxLayoutGap="0px"
		style="height: 500px; overflow: auto;">

		<app-scene-hierarchy fxFlex="16"></app-scene-hierarchy>

		<div fxFlex="60"
			fxLayout="column"
			fxLayoutAlign="space-around"
			fxLayoutGap="0px">

			<app-viewport fxFlex="70"></app-viewport>

			<mat-tab-group fxFlex="30">
				<mat-tab label="Project Browser">
					<app-project-browser></app-project-browser>
				</mat-tab>
				<mat-tab [label]="consoleLabel">
					<app-console></app-console>
				</mat-tab>
			</mat-tab-group>

		</div>

		<!--		<mat-toolbar fxFlex="2.8" class="vertical-toolbar">-->
		<!--			<button mat-icon-button class="selected" matTooltip="Property Inspector" matTooltipPosition="left">-->
		<!--				<mat-icon>tune</mat-icon>-->
		<!--			</button>-->
		<!--			<button mat-icon-button matTooltip="Map Inspector" matTooltipPosition="left">-->
		<!--				<mat-icon>map</mat-icon>-->
		<!--			</button>-->
		<!--			<button mat-icon-button matTooltip="Scenario Inspector" matTooltipPosition="left">-->
		<!--				<mat-icon>settings</mat-icon>-->
		<!--			</button>-->
		<!--		</mat-toolbar>-->

		<app-object-inspector fxFlex="24"></app-object-inspector>

	</div>

	<app-status-bar></app-status-bar>
	<app-tooltip></app-tooltip>

</div>
