<!--
  ~ Copyright Truesense AI Solutions Pvt Ltd, All Rights Reserved.
  -->

<mat-card [satPopoverAnchor]="popover"
	[satPopoverHover]="1"
	[class.file-card]="true"
	[draggable]="!isDirectory && !isUnknown">
	<ng-container *ngIf="!isTexture">
		<img [class.file-card-image]="true"
			[src]="imageSource" />
	</ng-container>
	<ng-container *ngIf="isTexture">
		<img [class.file-card-image]="true"
			[src]="filePath" />
	</ng-container>
	<p *ngIf="!showRenaming"
		class="file-name">{{ filename }}</p>
	<p *ngIf="showRenaming"
		class="file-name">
		<input #nameInput
			(blur)="onBlur($event)"
			(focus)="onFocus($event)"
			[value]="filename"
			cdkFocusInitial
			type="text" />
	</p>
</mat-card>
<sat-popover #popover
	verticalAlign="above">
	<div class="file-info-popover"
		*ngIf="file">
		<div class="title">GUID: {{ file?.guid }}</div>
		<div>Type: {{ file?.getTypeAsString() | uppercase }}</div>
		<div>Name: {{ file?.name }}</div>
		<div>Path: {{ file?.path }}</div>
	</div>
</sat-popover>
