/*
 * Copyright Truesense AI Solutions Pvt Ltd, All Rights Reserved.
 */

.file-card {
	margin: 0px !important;
	padding: 0px !important;
	border-radius: 1px !important;
	background: transparent !important;
	border: 0px solid !important;
	cursor: pointer;
}

.file-card-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 67px; /* fixed width */
	height: 67px; /* fixed height */
	object-fit: contain; /* makes sure the image aspect ratio is preserved */
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}

.file-name {
	margin: 4px 4px 4px 4px !important;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 0.75em;
	text-align: center;
}

.file-name input {
	background: transparent;
	border: 0px solid transparent;
	width: 100%;
	color: #fff;
	text-align: center;
	font-size: inherit;
}

.file-card img {
	max-width: 100%;
	width: 67px; /* fixed width */
	height: 67px; /* fixed height */
	object-fit: contain; /* makes sure the image aspect ratio is preserved */
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
