.x-axis {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
}

.y-axis {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.x-axis span,
.y-axis span {
	color: white;
}


:host {
	display: block; /* or 'display: flex;' depending on your needs */
	width: 100%;
	height: 100%;
}

.label-container {
	color: white;
	text-align: right;
}

.label {
	color: white;
	width: 22px;
	text-align: right;
	font-size: 0.8em;

}