<!--
  ~ Copyright Truesense AI Solutions Pvt Ltd, All Rights Reserved.
  -->

<div fxFlexFill
	 fxLayout="row">

	<div fxFlex="20">
		<perfect-scrollbar class="project-heirarchy-container border-right"
						   fxFlexFill>
			<app-project-hierarchy (folderChanged)="onFolderChanged($event)"
								   [dataSource]="dataSource"
								   [treeControl]="treeControl">
			</app-project-hierarchy>
		</perfect-scrollbar>
	</div>

	<div class="border-right"
		 fxFlex="80"
		 style="overflow: scroll;background: #606060;">
		<!-- <perfect-scrollbar class="folder-file-container" -->
		<!-- fxFlexFill> -->
		<app-folder-files (folderChanged)="onFolderChanged($event)"
						  [files]="files"
						  [folder]="selectedFolder"
						  fxFlexFill
						  fxFlexFill></app-folder-files>
		<!-- </perfect-scrollbar> -->
	</div>

</div>
