/*!
 * Copyright Truesense AI Solutions Pvt Ltd, All Rights Reserved.
 */

@keyframes spin {
	0% {
		transform: rotate(0)
	}

	100% {
		transform: rotate(360deg)
	}
}

.spin {
	animation: spin 2s infinite linear;
}
