<div mat-dialog-content>

	<!-- <mat-form-field class="example-full-width">
        <mat-label>Select Category</mat-label>
        <mat-select [(ngModel)]="selectedCategory">
            <mat-option [value]="categories.ByEntity">By Entity</mat-option>
            <mat-option [value]="categories.ByState">By State</mat-option>
            <mat-option [value]="categories.ByValue">By Value</mat-option>
        </mat-select>
    </mat-form-field> -->

	<!-- <div [ngSwitch]="selectedCategory"> -->

	<!-- <div *ngSwitchCase="categories.ByEntity">
            <mat-form-field class="example-full-width">
                <mat-label>Select Condition</mat-label>
                <mat-select [(ngModel)]="selectedType">
                    <mat-option [value]="types.ByEntity_Distance">Distance Condition</mat-option>
                </mat-select>
            </mat-form-field>
        </div> -->

	<!-- <div *ngSwitchCase="categories.ByState">
            <mat-form-field class="example-full-width">
                <mat-label>Select Condition</mat-label>
                <mat-select [(ngModel)]="selectedType">
                    <mat-option [value]="types.ByState_AtStart">At Start</mat-option>
                </mat-select>
            </mat-form-field>
        </div> -->

	<!-- <div *ngSwitchCase="categories.ByValue">
            <mat-form-field class="example-full-width">
                <mat-label>Select Condition</mat-label>
                <mat-select [(ngModel)]="selectedType">
                    <mat-option [value]="types.ByValue_SimulationTime">SimulationTime</mat-option>
                </mat-select>
            </mat-form-field>
        </div> -->

	<!-- </div> -->

</div>

<div mat-dialog-actions>
	<button (click)="onCancel()" mat-stroked-button>Cancel</button>
	<button (click)="onAdd()" mat-stroked-button>Add</button>
</div>
