<div mat-dialog-content>

	<!-- <mat-form-field class="example-full-width">
        <mat-label>Position Type</mat-label>
        <mat-select [(ngModel)]="selectedType">
            <mat-option *ngFor="let type of types" [value]="type">{{ type }}</mat-option>
        </mat-select>
    </mat-form-field> -->

	<!-- <div [ngSwitch]="selectedType"> -->

	<!-- need road information -->
	<!-- need lane information -->
	<!-- should be able to visualize instantly -->

	<!-- <div *ngSwitchCase="'absolute_position'">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Favorite food" value="Sushi">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Favorite food" value="Sushi">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Favorite food" value="Sushi">
            </mat-form-field>
        </div>

        <div *ngSwitchCase="'road_position'">
            <p>roadId, s, t, orientation</p>
            <mat-form-field class="example-full-width">
                <input type="number" matInput placeholder="RoadId" [(ngModel)]="roadId">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input type="number" matInput placeholder="S Coordinate" [(ngModel)]="sCoordinate">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input type="number" matInput placeholder="T Coordinate" [(ngModel)]="tCoordinate">
            </mat-form-field>
        </div>

        <div *ngSwitchCase="'lane_position'">
            <p>laneId, roadId, s, offset, orientation</p>
            <mat-form-field class="example-full-width">
                <input type="number" matInput placeholder="RoadId" [(ngModel)]="roadId">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input type="number" matInput placeholder="LaneId" [(ngModel)]="laneId">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input type="number" matInput placeholder="S Coordinate" [(ngModel)]="sCoordinate">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input type="number" matInput placeholder="T Coordinate" [(ngModel)]="tCoordinate">
            </mat-form-field>
        </div> -->

	<!-- </div> -->

</div>
<div mat-dialog-actions>
	<button mat-dialog-close mat-stroked-button>No Thanks</button>
	<!-- <button mat-stroked-button [mat-dialog-close]="response" cdkFocusInitial>Ok</button> -->
</div>
