<!--
  ~ Copyright Truesense AI Solutions Pvt Ltd, All Rights Reserved.
  -->

<h1 mat-dialog-title>Import File From</h1>

<div mat-dialog-content>

	<mat-tab-group animationDuration="0">
		<mat-tab label="From Cloud">


			<table [dataSource]="files"
				mat-table
				style="width: 100%;">

				<ng-container matColumnDef="name">
					<th *matHeaderCellDef
						mat-header-cell> Name
					</th>
					<td *matCellDef="let element"
						mat-cell> {{element.name}} </td>
				</ng-container>

				<ng-container matColumnDef="updated_at">
					<th *matHeaderCellDef
						mat-header-cell> Updated At
					</th>
					<td *matCellDef="let element"
						mat-cell> {{element.updated_at}} </td>
				</ng-container>

				<ng-container matColumnDef="created_at">
					<th *matHeaderCellDef
						mat-header-cell> Created At
					</th>
					<td *matCellDef="let element"
						mat-cell> {{element.created_at}} </td>
				</ng-container>

				<tr *matHeaderRowDef="columns"
					mat-header-row></tr>
				<tr (click)="selectFile(row)"
					*matRowDef="let row; columns: columns;"
					mat-row></tr>

			</table>


		</mat-tab>
		<mat-tab label="Upload">
			<input (change)=fileChange($event)
				type="file" />
		</mat-tab>
	</mat-tab-group>
</div>

<div mat-dialog-actions>
	<button (click)="onCancel()"
		mat-stroked-button>Cancel
	</button>
	<button (click)="onImport()"
		mat-stroked-button>Upload
	</button>
</div>
