<mat-toolbar class="native-border inspector-toolbar">
	<button (click)="toggle($event)"
		class="inspector-toolbar-icon"
		mat-icon-button>
		<mat-icon *ngIf="!isOpen">chevron_right</mat-icon>
		<mat-icon *ngIf="isOpen">expand_more</mat-icon>
	</button>
	<span>Event {{event?.name}} </span>
	<span class="spacer"></span>
	<button [matMenuTriggerFor]="conditionMenu"
		class="inspector-toolbar-icon"
		mat-icon-button>
		<mat-icon>bolt</mat-icon>
	</button>
	<button [matMenuTriggerFor]="actionMenu"
		class="inspector-toolbar-icon"
		mat-icon-button>
		<mat-icon>directions_run</mat-icon>
	</button>
	<button [matMenuTriggerFor]="menu"
		class="inspector-toolbar-icon"
		mat-icon-button>
		<mat-icon>more_vert</mat-icon>
	</button>
	<mat-menu #menu="matMenu">
		<button (click)="delete($event)"
			mat-menu-item>
			<mat-icon>delete</mat-icon>
			<span>Delete Event</span>
		</button>
	</mat-menu>
	<mat-menu #conditionMenu="matMenu">
		<button (click)="addCondition(CONDITION.ByEntity_Acceleration)"
			mat-menu-item>Acceleration
		</button>
		<button (click)="addCondition(CONDITION.ByEntity_Collision)"
			mat-menu-item>Collision
		</button>
		<button (click)="addCondition(CONDITION.ByEntity_Distance)"
			mat-menu-item>Distance
		</button>
		<button (click)="addCondition(CONDITION.ByEntity_EndOfRoad)"
			mat-menu-item>EndOfRoad
		</button>
		<button (click)="addCondition(CONDITION.ByEntity_Offroad)"
			mat-menu-item>OffRoad
		</button>
		<button (click)="addCondition(CONDITION.ByEntity_ReachPosition)"
			mat-menu-item>ReadPosition
		</button>
		<button (click)="addCondition(CONDITION.ByEntity_RelativeDistance)"
			mat-menu-item>RelativeDistance
		</button>
		<button (click)="addCondition(CONDITION.ByEntity_RelativeSpeed)"
			mat-menu-item>RelativeSpeed
		</button>
		<button (click)="addCondition(CONDITION.ByEntity_Speed)"
			mat-menu-item>Speed
		</button>
		<button (click)="addCondition(CONDITION.ByEntity_StandStill)"
			mat-menu-item>StandStill
		</button>
		<button (click)="addCondition(CONDITION.ByEntity_TimeHeadway)"
			mat-menu-item>TimeHeadway
		</button>
		<button (click)="addCondition(CONDITION.ByEntity_TimeToCollision)"
			mat-menu-item>TimeToCollision
		</button>
		<button (click)="addCondition(CONDITION.ByEntity_TraveledDistance)"
			mat-menu-item>TraveledDistance
		</button>
	</mat-menu>
	<mat-menu #actionMenu="matMenu">
		<button (click)="addAction(ACTION.Private_LaneOffset)"
			mat-menu-item>Lane Offset
		</button>
		<button (click)="addAction(ACTION.Private_LaneChange)"
			mat-menu-item>Lane Change
		</button>
		<button (click)="addAction(ACTION.Private_Longitudinal_Distance)"
			mat-menu-item>Longitudinal Distance
		</button>
		<button (click)="addAction(ACTION.Private_Longitudinal_Speed)"
			mat-menu-item>Longitudinal Speed
		</button>
		<button (click)="addAction(ACTION.Private_Position)"
			mat-menu-item>Position
		</button>
		<button (click)="addAction(ACTION.Private_Routing_FollowTrajectory)"
			mat-menu-item>Follow Trajectory
		</button>
	</mat-menu>
</mat-toolbar>

<div *ngIf="isOpen">
	<div *ngFor="let condition of event.startConditions">
		<app-condition-editor (removed)="removeCondition($event)"
			[condition]="condition">
		</app-condition-editor>
	</div>
	<div *ngIf="event?.startConditions.length == 0">
		<app-button-field [matMenuTriggerFor]="conditionMenu"
			label="Add Condition">
		</app-button-field>
	</div>

	<div *ngFor="let action of event.getActions()">
		<app-action (removed)="removeAction($event)"
			[action]="action"
			[entity]="entity">
		</app-action>
	</div>
	<div *ngIf="event.getActions().length == 0">
		<app-button-field [matMenuTriggerFor]="actionMenu"
			label="Add Action">
		</app-button-field>
	</div>
</div>
