/*
 * Copyright Truesense AI Solutions Pvt Ltd, All Rights Reserved.
 */

 .mat-expansion-panel-header {
	height: 36px !important;
	padding: 0 16px !important;
	font-size: 12px !important;
	color: #b1b8ba !important;
}

.mat-expanded .mat-expansion-panel-header {
	margin-bottom: 0rem !important;
}

.mat-action-row {
	padding: 4px 8px 4px 8px !important;
}


.btn-icon {
	width: 32px !important;
	height: 32px !important;
	min-width: 32px !important;
	border-radius: 50% !important;
	margin-right: 8px !important;
	padding: 0 !important;
}

.btn-icon-condition {
	background: rgb(61, 87, 255) !important;
	width: 32px !important;
	height: 32px !important;
	min-width: 32px !important;
	border-radius: 50% !important;
	margin-right: 8px !important;
	padding: 0 !important;
}

.btn-icon-action {
	background: rgb(0, 182, 9) !important;
	width: 32px !important;
	height: 32px !important;
	min-width: 32px !important;
	border-radius: 50% !important;
	margin-right: 8px !important;
	padding: 0 !important;
}
