<mat-toolbar class="native-border inspector-toolbar">
	<button (click)="toggle($event)"
		mat-icon-button
		class="inspector-toolbar-icon">
		<mat-icon *ngIf="!isOpen">chevron_right</mat-icon>
		<mat-icon *ngIf="isOpen">expand_more</mat-icon>
	</button>
	<span>Event {{event?.name}} </span>
	<span class="spacer"></span>
	<button mat-icon-button
		class="inspector-toolbar-icon"
		[matMenuTriggerFor]="conditionMenu">
		<mat-icon>bolt</mat-icon>
	</button>
	<button mat-icon-button
		class="inspector-toolbar-icon"
		[matMenuTriggerFor]="actionMenu">
		<mat-icon>directions_run</mat-icon>
	</button>
	<button mat-icon-button
		class="inspector-toolbar-icon"
		[matMenuTriggerFor]="menu">
		<mat-icon>more_vert</mat-icon>
	</button>
	<mat-menu #menu="matMenu">
		<button mat-menu-item
			(click)="delete($event)">
			<mat-icon>delete</mat-icon>
			<span>Delete Event</span>
		</button>
	</mat-menu>
	<mat-menu #conditionMenu="matMenu">
		<button mat-menu-item
			(click)="addCondition(CONDITION.ByEntity_Acceleration)">Acceleration</button>
		<button mat-menu-item
			(click)="addCondition(CONDITION.ByEntity_Collision)">Collision</button>
		<button mat-menu-item
			(click)="addCondition(CONDITION.ByEntity_Distance)">Distance</button>
		<button mat-menu-item
			(click)="addCondition(CONDITION.ByEntity_EndOfRoad)">EndOfRoad</button>
		<button mat-menu-item
			(click)="addCondition(CONDITION.ByEntity_Offroad)">OffRoad</button>
		<button mat-menu-item
			(click)="addCondition(CONDITION.ByEntity_ReachPosition)">ReadPosition</button>
		<button mat-menu-item
			(click)="addCondition(CONDITION.ByEntity_RelativeDistance)">RelativeDistance</button>
		<button mat-menu-item
			(click)="addCondition(CONDITION.ByEntity_RelativeSpeed)">RelativeSpeed</button>
		<button mat-menu-item
			(click)="addCondition(CONDITION.ByEntity_Speed)">Speed</button>
		<button mat-menu-item
			(click)="addCondition(CONDITION.ByEntity_StandStill)">StandStill</button>
		<button mat-menu-item
			(click)="addCondition(CONDITION.ByEntity_TimeHeadway)">TimeHeadway</button>
		<button mat-menu-item
			(click)="addCondition(CONDITION.ByEntity_TimeToCollision)">TimeToCollision</button>
		<button mat-menu-item
			(click)="addCondition(CONDITION.ByEntity_TraveledDistance)">TraveledDistance</button>
	</mat-menu>
	<mat-menu #actionMenu="matMenu">
		<button mat-menu-item
			(click)="addAction(ACTION.Private_LaneOffset)">Lane Offset</button>
		<button mat-menu-item
			(click)="addAction(ACTION.Private_LaneChange)">Lane Change</button>
		<button mat-menu-item
			(click)="addAction(ACTION.Private_Longitudinal_Distance)">Longitudinal Distance</button>
		<button mat-menu-item
			(click)="addAction(ACTION.Private_Longitudinal_Speed)">Longitudinal Speed</button>
		<button mat-menu-item
			(click)="addAction(ACTION.Private_Position)">Position</button>
		<button mat-menu-item
			(click)="addAction(ACTION.Private_Routing_FollowTrajectory)">Follow Trajectory</button>
	</mat-menu>
</mat-toolbar>

<div *ngIf="isOpen">
	<div *ngFor="let condition of event.startConditions">
		<app-condition-editor (removed)="removeCondition($event)"
			[condition]="condition">
		</app-condition-editor>
	</div>
	<div *ngIf="event?.startConditions.length == 0">
		<app-button-field [matMenuTriggerFor]="conditionMenu"
			label="Add Condition">
		</app-button-field>
	</div>

	<div *ngFor="let action of event.getActions()">
		<app-action (removed)="removeAction($event)"
			[action]="action"
			[entity]="entity">
		</app-action>
	</div>
	<div *ngIf="event.getActions().length == 0">
		<app-button-field [matMenuTriggerFor]="actionMenu"
			label="Add Action">
		</app-button-field>
	</div>
</div>
