<!--
  ~ Copyright Truesense AI Solutions Pvt Ltd, All Rights Reserved.
  -->

<div class="inspector-form-container" *ngIf="data.propCurve">

    <app-double-field label="Distance" [value]="data.propCurve.spacing" (changed)="onSpacingChanged($event)"></app-double-field>

    <app-double-field label="Rotation" [value]="data.propCurve.rotation" (changed)="onRotationChanged($event)"></app-double-field>

    <app-double-field label="Position" [value]="data.propCurve.positionVariance" (changed)="onPositionVarianceChanged($event)"></app-double-field>

</div>

<div *ngIf="data.controlPoint">
    <br />
    <span>Control Point</span><br />
    <app-transform-inspector [data]="data.controlPoint" showRotation="false" showScale="false"></app-transform-inspector>
</div>