<!--
  ~ Copyright Truesense AI Solutions Pvt Ltd, All Rights Reserved.
  -->

<div *ngIf="data.propCurve" class="inspector-form-container">

	<app-double-field (changed)="onSpacingChanged($event)" [value]="data.propCurve.spacing" label="Distance"></app-double-field>

	<app-double-field (changed)="onRotationChanged($event)" [value]="data.propCurve.rotation" label="Rotation"></app-double-field>

	<app-double-field (changed)="onPositionVarianceChanged($event)" [value]="data.propCurve.positionVariance" label="Position"></app-double-field>

</div>

<div *ngIf="data.controlPoint">
	<br />
	<span>Control Point</span><br />
	<app-transform-inspector [data]="data.controlPoint" [showRotation]="false" [showScale]="false"></app-transform-inspector>
</div>
