<h1 mat-dialog-title>Edit Acts For {{ entity.name }}</h1>

<div mat-dialog-content>

    <div fxFlexFill fxLayout="row" fxLayout.xs="row" fxLayoutAlign="space-between">

        <div fxFlex="24">
<!--
            <mat-form-field class="example-full-width">

                <mat-label>Acts</mat-label>

                <mat-select [(ngModel)]="selectedAct">
                    <mat-option *ngFor="let act of acts" [value]="act">{{ act.name }}</mat-option>
                </mat-select>

            </mat-form-field> -->

        </div>

        <div fxFlex="24">

            <span>StartConditions</span>

            <button (click)="addCondition()">Add Start Condition</button>

            <div *ngFor="let conditionGroup of selectedAct.startConditionGroups">

                <div *ngFor="let condition of conditionGroup.conditions">

                    <!-- <app-condition-editor [condition]="condition"></app-condition-editor> -->

                </div>

            </div>

        </div>

        <div fxFlex="24">
            <span>Sequence</span>
        </div>
        <div fxFlex="24">
            <span>Actions</span>
        </div>
    </div>
</div>

