@import 'variables.scss';

html,
body {
	height: 100%;
	background: #000000;
}

body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

// .mat-grid-tile .mat-figure {
// 	align-items: normal !important;
// 	justify-content: normal !important;
// }

// mat-list-item.mat-list-item.mat-3-line:hover {
// 	background: rgb(214, 214, 214);
// }

// .mat-grid-tile .mat-figure .right-side-bar-container {
// 	align-items: normal !important;
// 	justify-content: normal !important;
// 	padding: 10px 30px !important;
// }

// .mat-expansion-panel-body {
// 	padding: 16px 24px 16px 24px !important;
// }

.disable-select {
	user-select: none;
	/* supported by Chrome and Opera */
	-webkit-user-select: none;
	/* Safari */
	-khtml-user-select: none;
	/* Konqueror HTML */
	-moz-user-select: none;
	/* Firefox */
	-ms-user-select: none;
	/* Internet Explorer/Edge */
}

// .green-snackbar {
// 	background: green !important;
// 	color: white !important;
// }

// .red-snackbar {
// 	background: red !important;
// 	color: white !important;
// }

// .yellow-snackbar {
// 	background: rgb(255, 225, 125) !important;
// 	color: rgb(133, 100, 4) !important;
// }

// .mat-tv-dialog-actions {
// 	padding: 16px 16px !important;
// 	margin: 0px !important;
// }

// .mat-tv-dialog-content {
// 	margin: 0px !important;
// 	padding: 16px 16px !important;
// }

// .mat-tv-dialog-title {
// 	margin: 0 !important;
// 	padding: 4px 16px !important;
// 	background: white;
// 	color: #545454;
// 	font-size: 1em;
// }

// .mat-dialog-container {
// 	padding: 0px 0px 0px 0px !important;
// 	border-radius: 1px !important;
// }

// .mat-tv-dialog-actions button {
// 	margin-left: 10px;
// }


// .mat-tab-body-content {
// 	height: 100% !important;
// 	overflow: hidden !important;
// }


// .inspector-toolbar {
// 	height: 36px;
// 	font-size: 12px;
// 	padding: 0px !important;
// }

// .spacer {
// 	flex: 1 1 auto;
// }

// .inspector-toolbar-icon {
// 	width: 32px;
// 	height: 32px;
// }

// .mat-expansion-panel-header {
// 	height: 36px !important;
// 	padding: 0 16px !important;
// 	font-size: 12px !important;
// 	color: #b1b8ba !important;
// }

// .mat-expanded .mat-expansion-panel-header {
// 	margin-bottom: 0rem !important;
// }

// .mat-action-row {
// 	padding: 4px 8px 4px 8px !important;
// }


// .btn-icon {
// 	width: 32px !important;
// 	height: 32px !important;
// 	min-width: 32px !important;
// 	border-radius: 50% !important;
// 	margin-right: 8px !important;
// 	padding: 0 !important;
// }

// .btn-icon-condition {
// 	background: rgb(61, 87, 255) !important;
// 	width: 32px !important;
// 	height: 32px !important;
// 	min-width: 32px !important;
// 	border-radius: 50% !important;
// 	margin-right: 8px !important;
// 	padding: 0 !important;
// }

// .btn-icon-action {
// 	background: rgb(0, 182, 9) !important;
// 	width: 32px !important;
// 	height: 32px !important;
// 	min-width: 32px !important;
// 	border-radius: 50% !important;
// 	margin-right: 8px !important;
// 	padding: 0 !important;
// }
