<form [formGroup]="positionForm">
	<div>
		<mat-form-field style="width: 33%;">
			<input matInput required type="number" placeholder="Road ID" formControlName="roadId">
		</mat-form-field>
		<mat-form-field style="width: 33%;">
			<input matInput required type="number" placeholder="Lane ID" formControlName="laneId">
		</mat-form-field>
		<mat-form-field style="width: 33%;">
			<input matInput required type="number" placeholder="S Coordinate" formControlName="sCoordinate">
		</mat-form-field>
	</div>

	<div>
		<mat-form-field>
			<input matInput type="number" placeholder="Offset (Optional)" formControlName="offset">
		</mat-form-field>
	</div>
</form>
