<mat-toolbar class="" style="background: #424242;height: 40px;padding: 0px 8px !important;">

    <button (click)="addVehicle()" [ngClass]="selectedToolName==addVehicleTool.name ?' mat-accent' : ''" mat-icon-button
            matTooltip="Add Vehicle">
        <mat-icon>directions_car</mat-icon>
    </button>

    <button (click)="addPedestrian()" [ngClass]="selectedToolName==addPedestrianTool.name ?' mat-accent' : ''"
            mat-icon-button
            matTooltip="Add Pedestrian">
        <mat-icon>directions_walk</mat-icon>
    </button>

    <button (click)="addBike()" [ngClass]="selectedToolName==addBikeTool.name ?' mat-accent' : ''" mat-icon-button
            matTooltip="Add Bike">
        <mat-icon>directions_bike</mat-icon>
    </button>

</mat-toolbar>
