<mat-toolbar class="menubar">

    <button mat-button [matMenuTriggerFor]="fileMenu"> File </button>
    <button mat-button [matMenuTriggerFor]="editMenu"> Edit </button>
    <button mat-button [matMenuTriggerFor]="addMenu"> Add </button>

    <mat-menu #fileMenu="matMenu">
        <button mat-menu-item (click)="onNewFile()">
            <span>New</span>
        </button>
        <button mat-menu-item (click)="onOpenFile()">
            <span>Open</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="onSave()">
            <span>Save</span>
        </button>
        <button mat-menu-item (click)="onSaveAs()">
            <span>Save As</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="onExit()">
            <span>Exit</span>
        </button>
    </mat-menu>

    <mat-menu #editMenu="matMenu">
        <button mat-menu-item (click)="undo()">
            <span>Undo</span>
        </button>
        <button mat-menu-item (click)="redo()">
            <span>Redo</span>
        </button>
    </mat-menu>

    <mat-menu #addMenu="matMenu">
        <button mat-menu-item (click)="addVehicle()">
            <span>Add Vehicle</span>
        </button>
        <button mat-menu-item (click)="addPedestrian()">
            <span>Add Pedestrian</span>
        </button>
    </mat-menu>

    <span fxFlex></span>

</mat-toolbar>
