<app-enum-field (changed)="onPositionTypeChanged($event)"
				[enum]="types"
				[value]="position.type"
				label="Position Type">
</app-enum-field>

<div [ngSwitch]="position.type">

	<div *ngSwitchCase="types.World">
		<!-- <app-world-position-editor [position]="worldPosition" -->
		<!-- (positionModified)="onPositionModified($event)"> -->
		<!-- </app-world-position-editor> -->
		<app-dynamic-inspector [data]="position" [showToolbar]="false"></app-dynamic-inspector>
	</div>

	<div *ngSwitchCase="types.RelativeWorld">
		<!-- <app-relative-world [position]="position" -->
		<!-- (positionModified)="onPositionModified($event)"> -->
		<!-- </app-relative-world> -->
		<app-dynamic-inspector [data]="position" [showToolbar]="false"></app-dynamic-inspector>
	</div>

	<div *ngSwitchCase="types.RelativeObject">
		<!-- <app-relative-object-position-editor [position]="position" -->
		<!-- (positionModified)="onPositionModified($event)"> -->
		<!-- </app-relative-object-position-editor> -->
		<app-dynamic-inspector [data]="position" [showToolbar]="false"></app-dynamic-inspector>
	</div>

	<div *ngSwitchCase="types.Road">
		<!-- <app-road-position-editor [position]="position" -->
		<!-- (positionModified)="onPositionModified($event)"> -->
		<!-- </app-road-position-editor> -->
		<app-dynamic-inspector [data]="position" [showToolbar]="false"></app-dynamic-inspector>
	</div>

	<div *ngSwitchCase="types.RelativeRoad">
		<app-dynamic-inspector [data]="position" [showToolbar]="false"></app-dynamic-inspector>
	</div>

	<div *ngSwitchCase="types.Lane">
		<app-lane-position-editor (positionModified)="onPositionModified($event)"
								  [position]="position">
		</app-lane-position-editor>
	</div>

	<div *ngSwitchCase="types.RelativeLane">
		<app-dynamic-inspector [data]="position" [showToolbar]="false"></app-dynamic-inspector>
	</div>

	<!-- <div *ngSwitchCase="types.Road">
		<app-route-position-editor [position]="position"
			(positionModified)="onPositionModified($event)">
		</app-route-position-editor>
	</div> -->

	<!-- <div *ngSwitchCase="types.Road">
		<app-trajectory-position-editor [position]="position"
			(positionModified)="onPositionModified($event)">
		</app-trajectory-position-editor>
	</div> -->

</div>
