name: Build and Release

on:
    workflow_dispatch:
    push:
        tags:
            - "*"

jobs:
    build-linux:
        runs-on: ubuntu-latest

        steps:
            - name: Check out repository
              uses: actions/checkout@v2

            - name: Set up Node.js
              uses: actions/setup-node@v2
              with:
                  node-version: 16

            - name: Install dependencies
              run: npm install

            - name: Create environment.ts file
              run: |
                  echo "${{ secrets.ENV_PROD }}" > src/environments/environment.prod.ts
                  echo "${{ secrets.ENV_PROD }}" > src/environments/environment.ts

            - name: Build Angular app
              run: npm run build:prod

            - name: Sentry Inject Source Maps
              run: npm run sentry-inject

            - name: Sentry Upload Source Maps
              run: npm run sentry-upload
              env:
                  SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
                  SENTRY_ORG: ${{ secrets.SENTRY_ORG }}
                  SENTRY_PROJECT: ${{ secrets.SENTRY_PROJECT }}

            - name: Remove .map files
              run: rm -rf dist/*.map

            - name: Install Electron dependencies
              run: npm install electron electron-builder --save-dev

            - name: Build Electron app for Linux
              run: npm run linux
              env:
                  GH_TOKEN: ${{ secrets.GH_TOKEN }}

            - name: Upload Linux Artifacts
              uses: actions/upload-artifact@v2
              with:
                  name: "linux-artifacts"
                  path: |
                      release/*.AppImage
                      release/*.deb
                      release/*.yml

    build-windows:
        runs-on: windows-latest

        steps:
            - name: Check out repository
              uses: actions/checkout@v2

            - name: Set up Node.js
              uses: actions/setup-node@v2
              with:
                  node-version: 16

            - name: Install dependencies
              run: npm install

            - name: Create environment.ts file
              run: |
                  echo "${{ secrets.ENV_PROD }}" > src/environments/environment.prod.ts
                  echo "${{ secrets.ENV_PROD }}" > src/environments/environment.ts

            - name: Build Angular app
              run: npm run build:prod

            - name: Sentry Inject Source Maps
              run: npm run sentry-inject

            - name: Sentry Upload Source Maps
              run: npm run sentry-upload
              env:
                  SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
                  SENTRY_ORG: ${{ secrets.SENTRY_ORG }}
                  SENTRY_PROJECT: ${{ secrets.SENTRY_PROJECT }}

            - name: Remove .map files
              run: del /s /q dist\*.map

            - name: Install Electron dependencies
              run: npm install electron electron-builder --save-dev

            - name: Build Electron app for Windows
              run: npm run windows
              env:
                  GH_TOKEN: ${{ secrets.GH_TOKEN }}

            - name: Upload Windows Artifacts
              uses: actions/upload-artifact@v2
              with:
                  name: "windows-artifacts"
                  path: |
                      release/*.exe
                      release/*.yml
                      release/*.blockmap

    release:
        name: "Create release and upload artifacts"
        needs:
            - build-linux
            - build-windows
        runs-on: ubuntu-latest

        steps:
            - name: Download Linux Artifacts
              uses: actions/download-artifact@v2
              with:
                  name: linux-artifacts

            - name: Download Windows Artifacts
              uses: actions/download-artifact@v2
              with:
                  name: windows-artifacts

            - name: Inspect directory after downloading artifacts
              run: ls -alFR

            - name: Create GitHub release
              uses: ncipollo/release-action@v1
              with:
                  token: ${{ secrets.GH_TOKEN }}
                  tag: "nightly-${{ github.run_number }}"
                  name: "Release ${{ github.ref_name }}"
                  assets: |
                      release/*.AppImage
                      release/*.deb
                      release/*.exe
                      release/*.yml
                      release/*.blockmap
